Flujo_trabajo_grupo_IoT.json
[{"id":"32e5adcc.85aefa","type":"tab","label":"Flow 5","disabled":false,"info":""},{"id":"b194bf93.51643","type":"mqtt in","z":"32e5adcc.85aefa","name":"","topic":"infind/GRUPO7/datos","qos":"2","broker":"4ecb74e3.7dcec4","x":159.20001220703125,"y":139.1999969482422,"wires":[["976baf1.b2780d"]]},{"id":"965ccb55.21c28","type":"mqtt out","z":"32e5adcc.85aefa","name":"","topic":"infind/GRUPO7/led/cmd","qos":"1","retain":"","broker":"4ecb74e3.7dcec4","x":779.2000122070312,"y":808.2000122070312,"wires":[]},{"id":"7740f14f.3ebb2","type":"mqtt in","z":"32e5adcc.85aefa","name":"","topic":"infind/GRUPO7/led/status","qos":"2","broker":"4ecb74e3.7dcec4","x":170.20001220703125,"y":1074.1998901367188,"wires":[["208452d3.378d9e"]]},{"id":"208452d3.378d9e","type":"debug","z":"32e5adcc.85aefa","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":463.20001220703125,"y":1077.1998901367188,"wires":[]},{"id":"9a72949b.f24d4","type":"ui_gauge","z":"32e5adcc.85aefa","name":"","group":"69bbdb3f.0f1abc","order":2,"width":0,"height":0,"gtype":"gage","title":"Temperatura","label":"ºC","format":"{{payload.DHT11.temp}}","min":"-10","max":"45","colors":["#0033ff","#22fc03","#ca3838"],"seg1":"","seg2":"","x":643.2000122070312,"y":39.19999694824219,"wires":[]},{"id":"cfdb207b.491698","type":"ui_gauge","z":"32e5adcc.85aefa","name":"","group":"69bbdb3f.0f1abc","order":2,"width":0,"height":0,"gtype":"wave","title":"Humedad","label":"%","format":"{{payload.DHT11.hum}}","min":0,"max":"100","colors":["#8ddbf1","#264ad9","#011bfe"],"seg1":"","seg2":"","x":643.2000122070312,"y":88.19999694824219,"wires":[]},{"id":"7cd8bffa.01ba5","type":"comment","z":"32e5adcc.85aefa","name":"Recuperación de datos","info":"","x":170.49998474121094,"y":57.59999084472656,"wires":[]},{"id":"976baf1.b2780d","type":"json","z":"32e5adcc.85aefa","name":"","property":"payload","action":"","pretty":false,"x":377.20001220703125,"y":139.1999969482422,"wires":[["9a72949b.f24d4","cfdb207b.491698","cd385954.d5ebe8","9eaa6f7a.e52c38","ce4e4384.6309d","be9451d1.f401f","327ef209.4a3186","1e44ba84.755255","8f5a7885.343da"]]},{"id":"cd385954.d5ebe8","type":"function","z":"32e5adcc.85aefa","name":"Split","func":"var msg1 = {};\nvar msg2 = {};\n\nmsg1.payload=msg.payload.DHT11.temp;\nmsg1.topic = \"Temperatura\";\nmsg2.payload=msg.payload.DHT11.hum;\nmsg2.topic=\"Humedad\";\nreturn [msg1,msg2];","outputs":2,"noerr":0,"x":580,"y":153.99998474121094,"wires":[["62b3e977.592268"],["62b3e977.592268"]]},{"id":"62b3e977.592268","type":"ui_chart","z":"32e5adcc.85aefa","name":"","group":"b46bb131.10a76","order":0,"width":"0","height":"0","label":"Temperatura-Humedad","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"10","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":820,"y":153.99998474121094,"wires":[[],[]]},{"id":"9eaa6f7a.e52c38","type":"template","z":"32e5adcc.85aefa","name":"lista en formato html","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":" <h3>Datos de Wifi: </h3>\n ","output":"str","x":649,"y":230.99998474121094,"wires":[["6118b1c.bf474d"]]},{"id":"6118b1c.bf474d","type":"ui_template","z":"32e5adcc.85aefa","group":"32dcd279.dfdefe","name":"Datos de Wifi","order":1,"width":"6","height":"1","format":"<div ng-bind-html=\"msg.payload\"></div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":866,"y":232.99998474121094,"wires":[[]]},{"id":"be9451d1.f401f","type":"template","z":"32e5adcc.85aefa","name":"Titulo html","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":" <h3>ES8266: </h3>\n","output":"str","x":580,"y":297,"wires":[["f21aaa99.941128"]]},{"id":"263a7f88.f7076","type":"comment","z":"32e5adcc.85aefa","name":"Slider para intensidad de LED","info":"","x":176,"y":644,"wires":[]},{"id":"b357bec6.1bc798","type":"ui_slider","z":"32e5adcc.85aefa","name":"","label":"Limite Intensidad (%)","tooltip":"","group":"36140de2.95ee1a","order":2,"width":0,"height":0,"passthru":true,"outs":"end","topic":"infind/GRUPO7/led/cmd","min":"0","max":"100","step":"1","x":154,"y":809,"wires":[["cca1800c.39f21","ddd424b5.42b278"]]},{"id":"cca1800c.39f21","type":"function","z":"32e5adcc.85aefa","name":"Convertir valor a JSON (level)","func":"\nmsg.payload = {\"level\": msg.payload};\nreturn msg;","outputs":1,"noerr":0,"x":466,"y":808,"wires":[["965ccb55.21c28"]]},{"id":"ddd424b5.42b278","type":"ui_text","z":"32e5adcc.85aefa","group":"36140de2.95ee1a","order":1,"width":0,"height":0,"name":"","label":"Intensidad de luz","format":"{{msg.payload}}","layout":"col-center","x":390,"y":733,"wires":[]},{"id":"ce4e4384.6309d","type":"function","z":"32e5adcc.85aefa","name":"Conversión mV a V y mS a S","func":"\nmsg.payload.Uptime = Math.trunc(msg.payload.Uptime/1000);\nmsg.payload.Voltaje = msg.payload.Voltaje/1000;\nreturn msg;","outputs":1,"noerr":0,"x":466,"y":493,"wires":[["29187589.9149b2","71f61f76.f77c5","aad9975e.df339"]]},{"id":"29187589.9149b2","type":"ui_text","z":"32e5adcc.85aefa","group":"32dcd279.dfdefe","order":6,"width":0,"height":0,"name":"","label":"Tiempo online:","format":"{{msg.payload.Uptime}} segundos","layout":"row-spread","x":770.5,"y":477.79998779296875,"wires":[]},{"id":"71f61f76.f77c5","type":"ui_text","z":"32e5adcc.85aefa","group":"32dcd279.dfdefe","order":7,"width":0,"height":0,"name":"","label":"Voltaje","format":"{{msg.payload.Voltaje}} voltios","layout":"row-spread","x":773.5,"y":525.7999877929688,"wires":[]},{"id":"aad9975e.df339","type":"ui_gauge","z":"32e5adcc.85aefa","name":"","group":"32dcd279.dfdefe","order":8,"width":0,"height":0,"gtype":"gage","title":"Voltaje","label":"Vcc","format":"{{payload.Voltaje}}","min":"0","max":"3.3","colors":["#0033ff","#22fc03","#ca3838"],"seg1":"","seg2":"","x":770.2000122070312,"y":572.2000122070312,"wires":[]},{"id":"f21aaa99.941128","type":"ui_template","z":"32e5adcc.85aefa","group":"32dcd279.dfdefe","name":"Titulo ESP8266","order":5,"width":"6","height":"1","format":"<div ng-bind-html=\"msg.payload\"></div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":829.2000122070312,"y":298.20001220703125,"wires":[[]]},{"id":"8f5a7885.343da","type":"ui_text","z":"32e5adcc.85aefa","group":"32dcd279.dfdefe","order":2,"width":0,"height":0,"name":"","label":"SSID","format":"{{msg.payload.Wifi.SSID}}","layout":"row-spread","x":559.5,"y":347.79998779296875,"wires":[]},{"id":"1e44ba84.755255","type":"ui_text","z":"32e5adcc.85aefa","group":"32dcd279.dfdefe","order":3,"width":0,"height":0,"name":"","label":"IP Local","format":"{{msg.payload.Wifi.IP}}","layout":"row-spread","x":565.5,"y":396.79998779296875,"wires":[]},{"id":"327ef209.4a3186","type":"ui_text","z":"32e5adcc.85aefa","group":"32dcd279.dfdefe","order":4,"width":0,"height":0,"name":"","label":"RSS","format":"{{msg.payload.Wifi.RSSI}}","layout":"row-spread","x":548.5,"y":444.79998779296875,"wires":[]},{"id":"6f63075c.b62828","type":"comment","z":"32e5adcc.85aefa","name":"Último mensaje recibido","info":"","x":149.1999969482422,"y":909.2000122070312,"wires":[]},{"id":"237be14a.0c9cb6","type":"ui_text","z":"32e5adcc.85aefa","group":"36140de2.95ee1a","order":2,"width":0,"height":0,"name":"","label":"Último dato recibido","format":"{{msg.payload.Hora}}","layout":"col-center","x":791.5,"y":967.7999877929688,"wires":[]},{"id":"71ad6370.2a8e24","type":"function","z":"32e5adcc.85aefa","name":"Hora","func":"var d = new Date();\nvar mes = d.getMonth()+1;\nvar time = d.getHours() + \":\" + d.getMinutes() + \":\" + d.getSeconds() + \" \" + \"(\" + d.getUTCDate() + \"/\" + mes + \"/\" + d.getFullYear() + \")\";\nmsg.payload.Hora = time;\nreturn msg;","outputs":1,"noerr":0,"x":564.2000122070312,"y":960.2000122070312,"wires":[["237be14a.0c9cb6"]]},{"id":"6457ff85.4c83f8","type":"mqtt in","z":"32e5adcc.85aefa","name":"","topic":"infind/GRUPO7/datos","qos":"2","broker":"4ecb74e3.7dcec4","x":150.1999969482422,"y":978.2000122070312,"wires":[["a0b8f303.3b6858"]]},{"id":"a0b8f303.3b6858","type":"json","z":"32e5adcc.85aefa","name":"","property":"payload","action":"","pretty":false,"x":401.20001220703125,"y":951.2000122070312,"wires":[["71ad6370.2a8e24"]]},{"id":"695b0059.399588","type":"mqtt in","z":"32e5adcc.85aefa","name":"","topic":"infind/GRUPO7/conexion","qos":"2","broker":"4ecb74e3.7dcec4","x":164.1999969482422,"y":1253.1998901367188,"wires":[["9179c083.34a328","d3f9459f.08d618","c5c200d3.cbcb18"]]},{"id":"2c5d51fb.53bafe","type":"comment","z":"32e5adcc.85aefa","name":"Estado del dispositivo","info":"","x":155.1999969482422,"y":1180.1998901367188,"wires":[]},{"id":"d3f9459f.08d618","type":"ui_text","z":"32e5adcc.85aefa","group":"36140de2.95ee1a","order":3,"width":0,"height":0,"name":"","label":"Estado del dispositivo","format":"{{msg.payload}}","layout":"row-spread","x":761.5,"y":1212.7999877929688,"wires":[]},{"id":"9179c083.34a328","type":"debug","z":"32e5adcc.85aefa","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":510.20001220703125,"y":1377.1998901367188,"wires":[]},{"id":"c5c200d3.cbcb18","type":"ui_led","z":"32e5adcc.85aefa","group":"36140de2.95ee1a","order":4,"width":0,"height":0,"label":"Estado ","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"green","value":"online","valueType":"str"},{"color":"red","value":"offline","valueType":"str"}],"allowColorForValueInMessage":false,"name":"Color LED","x":736.2000122070312,"y":1289.1998901367188,"wires":[]},{"id":"4ecb74e3.7dcec4","type":"mqtt-broker","z":"","name":"iot placa MQTT","broker":"127.0.0.1","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"69bbdb3f.0f1abc","type":"ui_group","z":"","name":"Datos","tab":"29fd116c.2b549e","order":1,"disp":true,"width":"7","collapse":false},{"id":"b46bb131.10a76","type":"ui_group","z":"","name":"Gráfica (Temperatura, Humedad)","tab":"29fd116c.2b549e","order":2,"disp":true,"width":"8","collapse":false},{"id":"32dcd279.dfdefe","type":"ui_group","z":"","name":"Datos WIFI y ESP8266","tab":"29fd116c.2b549e","order":3,"disp":true,"width":"6","collapse":false},{"id":"36140de2.95ee1a","type":"ui_group","z":"","name":"Control LED","tab":"29fd116c.2b549e","order":4,"disp":true,"width":"8","collapse":false},{"id":"29fd116c.2b549e","type":"ui_tab","z":"","name":"Tarea en grupo 1","icon":"dashboard","order":7,"disabled":false,"hidden":false}]
