mqtt/Flujo_Monitorizacion.json
[{"id":"b36a36b6.20d0a","type":"tab","label":"Flow 5","disabled":false,"info":""},{"id":"77905789.44bb08","type":"mqtt in","z":"b36a36b6.20d0a","name":"","topic":"infind/GRUPO7/+/datos","qos":"2","broker":"e1dbb8c6.bf933","x":159.20001220703125,"y":139.1999969482422,"wires":[["d3e473b4.c12798","be207e3c.81ecf"]]},{"id":"f1d366ce.789c4","type":"mqtt out","z":"b36a36b6.20d0a","name":"","topic":"","qos":"1","retain":"","broker":"e1dbb8c6.bf933","x":1173.199951171875,"y":773.2000122070312,"wires":[]},{"id":"6b8c20a1.be50c","type":"mqtt in","z":"b36a36b6.20d0a","name":"","topic":"infind/GRUPO7/led/status","qos":"2","broker":"e1dbb8c6.bf933","x":150,"y":920,"wires":[["4c77c868.78b3c8"]]},{"id":"4c77c868.78b3c8","type":"debug","z":"b36a36b6.20d0a","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":410,"y":920,"wires":[]},{"id":"32c1c50a.e70892","type":"ui_gauge","z":"b36a36b6.20d0a","name":"","group":"5e6cde94.49ef4","order":1,"width":0,"height":0,"gtype":"gage","title":"Temperatura","label":"ºC","format":"{{payload.DHT11.temp}}","min":"-10","max":"45","colors":["#0033ff","#22fc03","#ca3838"],"seg1":"","seg2":"","x":837.2000122070312,"y":30.199996948242188,"wires":[]},{"id":"91c3b890.e25f7","type":"ui_gauge","z":"b36a36b6.20d0a","name":"","group":"5e6cde94.49ef4","order":2,"width":0,"height":0,"gtype":"wave","title":"Humedad","label":"%","format":"{{payload.DHT11.hum}}","min":0,"max":"100","colors":["#8ddbf1","#264ad9","#011bfe"],"seg1":"","seg2":"","x":837.2000122070312,"y":79.19999694824219,"wires":[]},{"id":"47d4ff13.265c38","type":"comment","z":"b36a36b6.20d0a","name":"Recuperación de datos","info":"","x":170.49998474121094,"y":57.59999084472656,"wires":[]},{"id":"becf60db.300488","type":"json","z":"b36a36b6.20d0a","name":"","property":"payload","action":"","pretty":false,"x":605.2000122070312,"y":130.1999969482422,"wires":[["32c1c50a.e70892","91c3b890.e25f7","df0294e7.7b0088","945e7177.886dc8","31c76aa2.2e7b86","94904584.687bb8","56e9ba2e.804e34","9fedad07.198ca","2c82b4b8.43b23c"]]},{"id":"df0294e7.7b0088","type":"function","z":"b36a36b6.20d0a","name":"Split","func":"var msg1 = {};\nvar msg2 = {};\n\nmsg1.payload=msg.payload.DHT11.temp;\nmsg1.topic = \"Temperatura\";\nmsg2.payload=msg.payload.DHT11.hum;\nmsg2.topic=\"Humedad\";\nreturn [msg1,msg2];","outputs":2,"noerr":0,"x":774,"y":144.99998474121094,"wires":[["fffbf2c5.4cfb08"],["fffbf2c5.4cfb08"]]},{"id":"fffbf2c5.4cfb08","type":"ui_chart","z":"b36a36b6.20d0a","name":"","group":"ba318336.79143","order":1,"width":"0","height":"0","label":"Temperatura-Humedad","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"10","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":1014,"y":144.99998474121094,"wires":[[],[]]},{"id":"945e7177.886dc8","type":"template","z":"b36a36b6.20d0a","name":"lista en formato html","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":" <h3>Datos de Wifi: </h3>\n ","output":"str","x":843,"y":221.99998474121094,"wires":[["1c7e78f6.d1d95f"]]},{"id":"1c7e78f6.d1d95f","type":"ui_template","z":"b36a36b6.20d0a","group":"c12f6996.02b35","name":"Datos de Wifi","order":1,"width":"6","height":"1","format":"<div ng-bind-html=\"msg.payload\"></div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":1060,"y":223.99998474121094,"wires":[[]]},{"id":"94904584.687bb8","type":"template","z":"b36a36b6.20d0a","name":"Titulo html","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":" <h3>ESP8266: </h3>\n","output":"str","x":774,"y":288,"wires":[["3f68f267.2bf766"]]},{"id":"c5a5b425.719148","type":"comment","z":"b36a36b6.20d0a","name":"Slider para intensidad de LED","info":"","x":168,"y":581,"wires":[]},{"id":"d92bb065.cdefc8","type":"ui_slider","z":"b36a36b6.20d0a","name":"","label":"Limite Intensidad (%)","tooltip":"","group":"355c67ec.872d6","order":4,"width":0,"height":0,"passthru":true,"outs":"end","topic":"infind/GRUPO7/led/cmd","min":"0","max":"100","step":"1","x":168,"y":702,"wires":[["e413529b.68511","23bb6535.98f732"]]},{"id":"e413529b.68511","type":"function","z":"b36a36b6.20d0a","name":"Convertir valor a JSON (level)","func":"\nmsg.payload = {\"level\": msg.payload};\nreturn msg;","outputs":1,"noerr":0,"x":457,"y":703,"wires":[["255988df.f09c58"]]},{"id":"23bb6535.98f732","type":"ui_text","z":"b36a36b6.20d0a","group":"355c67ec.872d6","order":2,"width":0,"height":0,"name":"","label":"Intensidad de luz","format":"{{msg.payload}}","layout":"col-center","x":420,"y":643,"wires":[]},{"id":"31c76aa2.2e7b86","type":"function","z":"b36a36b6.20d0a","name":"Conversión mV a V y mS a S","func":"\nmsg.payload.Uptime = Math.trunc(msg.payload.Uptime/1000);\nmsg.payload.Voltaje = msg.payload.Voltaje/1000;\nreturn msg;","outputs":1,"noerr":0,"x":660,"y":484,"wires":[["447a047b.f34d7c","e5da7882.9996f8","e5e4eec5.5dd438"]]},{"id":"447a047b.f34d7c","type":"ui_text","z":"b36a36b6.20d0a","group":"c12f6996.02b35","order":7,"width":0,"height":0,"name":"","label":"Tiempo online:","format":"{{msg.payload.Uptime}} segundos","layout":"row-spread","x":964.5,"y":468.79998779296875,"wires":[]},{"id":"e5da7882.9996f8","type":"ui_text","z":"b36a36b6.20d0a","group":"c12f6996.02b35","order":8,"width":0,"height":0,"name":"","label":"Voltaje","format":"{{msg.payload.Voltaje}} voltios","layout":"row-spread","x":967.5,"y":516.7999877929688,"wires":[]},{"id":"e5e4eec5.5dd438","type":"ui_gauge","z":"b36a36b6.20d0a","name":"","group":"c12f6996.02b35","order":9,"width":0,"height":0,"gtype":"gage","title":"Voltaje","label":"Vcc","format":"{{payload.Voltaje}}","min":"0","max":"3.3","colors":["#0033ff","#22fc03","#ca3838"],"seg1":"","seg2":"","x":964.2000122070312,"y":563.2000122070312,"wires":[]},{"id":"3f68f267.2bf766","type":"ui_template","z":"b36a36b6.20d0a","group":"c12f6996.02b35","name":"Titulo ESP8266","order":5,"width":"6","height":"1","format":"<div ng-bind-html=\"msg.payload\"></div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":1023.2000122070312,"y":289.20001220703125,"wires":[[]]},{"id":"2c82b4b8.43b23c","type":"ui_text","z":"b36a36b6.20d0a","group":"c12f6996.02b35","order":2,"width":0,"height":0,"name":"","label":"SSID","format":"{{msg.payload.Wifi.SSID}}","layout":"row-spread","x":753.5,"y":338.79998779296875,"wires":[]},{"id":"9fedad07.198ca","type":"ui_text","z":"b36a36b6.20d0a","group":"c12f6996.02b35","order":3,"width":0,"height":0,"name":"","label":"IP Local","format":"{{msg.payload.Wifi.IP}}","layout":"row-spread","x":759.5,"y":387.79998779296875,"wires":[]},{"id":"56e9ba2e.804e34","type":"ui_text","z":"b36a36b6.20d0a","group":"c12f6996.02b35","order":4,"width":0,"height":0,"name":"","label":"RSS","format":"{{msg.payload.Wifi.RSSI}}","layout":"row-spread","x":742.5,"y":435.79998779296875,"wires":[]},{"id":"998f3ac2.94c308","type":"comment","z":"b36a36b6.20d0a","name":"Último mensaje recibido","info":"","x":140,"y":880,"wires":[]},{"id":"aa37d9e1.a641a8","type":"ui_text","z":"b36a36b6.20d0a","group":"355c67ec.872d6","order":9,"width":0,"height":0,"name":"","label":"Último dato recibido","format":"{{msg.payload.Hora}}","layout":"col-center","x":1120,"y":1000,"wires":[]},{"id":"48622682.6c23d8","type":"function","z":"b36a36b6.20d0a","name":"Hora","func":"var d = new Date();\nvar mes = d.getMonth()+1;\nvar time = d.getHours() + \":\" + d.getMinutes() + \":\" + d.getSeconds() + \" \" + \"(\" + d.getUTCDate() + \"/\" + mes + \"/\" + d.getFullYear() + \")\";\nmsg.payload.Hora = time;\nreturn msg;","outputs":1,"noerr":0,"x":910,"y":1000,"wires":[["aa37d9e1.a641a8"]]},{"id":"ac5673be.506888","type":"mqtt in","z":"b36a36b6.20d0a","name":"","topic":"infind/GRUPO7/+/datos","qos":"2","broker":"e1dbb8c6.bf933","x":140,"y":1000,"wires":[["8424e4eb.44a51","86d3a3c7.1f2dc"]]},{"id":"1af3db82.0ea1f4","type":"json","z":"b36a36b6.20d0a","name":"","property":"payload","action":"","pretty":false,"x":770,"y":1000,"wires":[["48622682.6c23d8"]]},{"id":"f93e7dc.dd7c","type":"mqtt in","z":"b36a36b6.20d0a","name":"","topic":"infind/GRUPO7/+/conexion","qos":"2","broker":"e1dbb8c6.bf933","x":174.1999969482422,"y":1253.1998901367188,"wires":[["923d1950.ccb9c","a1bcc953.38db9","547486c0.92b388"]]},{"id":"b5c86d54.7f5bd","type":"comment","z":"b36a36b6.20d0a","name":"Estado del dispositivo","info":"","x":155.1999969482422,"y":1180.1998901367188,"wires":[]},{"id":"c7e1ed4e.467e3","type":"ui_text","z":"b36a36b6.20d0a","group":"355c67ec.872d6","order":6,"width":0,"height":0,"name":"","label":"Estado del dispositivo","format":"{{msg.payload}}","layout":"row-spread","x":1289.5,"y":1205.7999267578125,"wires":[]},{"id":"2c90df77.2088e","type":"ui_led","z":"b36a36b6.20d0a","group":"355c67ec.872d6","order":7,"width":0,"height":0,"label":"Estado ","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"green","value":"Encendida","valueType":"str"},{"color":"red","value":"Apagada","valueType":"str"}],"allowColorForValueInMessage":false,"name":"Color LED","x":1263.199951171875,"y":1269.199951171875,"wires":[]},{"id":"fab668e8.a318e8","type":"ui_slider","z":"b36a36b6.20d0a","name":"","label":"Limite velocidad (% / 10ms)","tooltip":"","group":"355c67ec.872d6","order":5,"width":0,"height":0,"passthru":true,"outs":"end","topic":"infind/GRUPO7/led/cmd","min":"1","max":"5","step":"1","x":180,"y":831,"wires":[["9eb59289.ba73a","50d6e235.d95d7c"]]},{"id":"4d5727f4.a772f8","type":"comment","z":"b36a36b6.20d0a","name":"Slider para velocidad de cambio de Intensidad de LED","info":"","x":246,"y":767,"wires":[]},{"id":"9eb59289.ba73a","type":"ui_text","z":"b36a36b6.20d0a","group":"355c67ec.872d6","order":3,"width":0,"height":0,"name":"","label":"Velocidad de cambio","format":"{{msg.payload}}","layout":"col-center","x":464,"y":808,"wires":[]},{"id":"50d6e235.d95d7c","type":"function","z":"b36a36b6.20d0a","name":"Convertir valor a JSON (speed)","func":"\nmsg.payload = {\"speed\": msg.payload};\nreturn msg;","outputs":1,"noerr":0,"x":479,"y":853,"wires":[["255988df.f09c58"]]},{"id":"b7338c2f.c993b","type":"mqtt out","z":"b36a36b6.20d0a","name":"","topic":"","qos":"","retain":"","broker":"e1dbb8c6.bf933","x":602,"y":1515,"wires":[]},{"id":"9c8a18f9.00af58","type":"ui_button","z":"b36a36b6.20d0a","name":"Actualizar","group":"355c67ec.872d6","order":8,"width":"0","height":"0","passthru":false,"label":"Actualizar Dispositivo","tooltip":"","color":"","bgcolor":"","icon":"","payload":"1","payloadType":"json","topic":"","x":125,"y":1511,"wires":[["8b89ae22.c57818","26b9256f.9c0bb2"]]},{"id":"8b89ae22.c57818","type":"debug","z":"b36a36b6.20d0a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":605,"y":1656,"wires":[]},{"id":"8aafba65.ea4f38","type":"mongodb out","z":"b36a36b6.20d0a","mongodb":"f25312a6.3b1228","name":"Insertar ESP en la Lista","collection":"lista_esp","payonly":true,"upsert":false,"multi":false,"operation":"store","x":537.772705078125,"y":1852.7669677734375,"wires":[]},{"id":"ed8ff344.ea999","type":"comment","z":"b36a36b6.20d0a","name":"Insertar la ESP en la base de datos","info":"sólo el payload\nantes le añadimos la fecha","x":165.99998474121094,"y":1782.0000190734863,"wires":[]},{"id":"547486c0.92b388","type":"json","z":"b36a36b6.20d0a","name":"","property":"payload","action":"","pretty":false,"x":782.5,"y":1240,"wires":[["3aeb2ef.215bc52"]]},{"id":"3aeb2ef.215bc52","type":"function","z":"b36a36b6.20d0a","name":"Extraer el estado Online","func":"if(msg.payload.Online){\n    msg.payload = \"Encendida\";\n}else{\n    msg.payload = \"Apagada\";\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":1003.5,"y":1246,"wires":[["2c90df77.2088e","c7e1ed4e.467e3"]]},{"id":"4eabb80b.c4bc18","type":"link out","z":"b36a36b6.20d0a","name":"Datos Conexion","links":["4697a4f6.6de264"],"x":803.5,"y":1319,"wires":[]},{"id":"4697a4f6.6de264","type":"link in","z":"b36a36b6.20d0a","name":"","links":["4eabb80b.c4bc18"],"x":165.5,"y":1853,"wires":[["434871d3.75b408","896ff4de.6f9d78"]]},{"id":"edb4e391.877758","type":"mongodb out","z":"b36a36b6.20d0a","mongodb":"f25312a6.3b1228","name":"Borrado de la ESP de la lista","collection":"lista_esp","payonly":true,"upsert":false,"multi":false,"operation":"delete","x":791,"y":1942,"wires":[]},{"id":"434871d3.75b408","type":"switch","z":"b36a36b6.20d0a","name":"","property":"payload.Online","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":283.5,"y":1854,"wires":[["8aafba65.ea4f38"],["9e6c62a5.9758e","1e513076.e78508"]]},{"id":"9a18de34.3ac238","type":"mongodb in","z":"b36a36b6.20d0a","mongodb":"f25312a6.3b1228","name":"","collection":"lista_esp","operation":"find","x":442.00006103515625,"y":2137,"wires":[["2c2b3900.08c048"]]},{"id":"2ca8ac7c.f134cc","type":"inject","z":"b36a36b6.20d0a","name":"","topic":"","payload":"{ }","payloadType":"json","repeat":"5","crontab":"","once":false,"onceDelay":0.1,"x":119,"y":2163.3665771484375,"wires":[["9a18de34.3ac238"]]},{"id":"896ff4de.6f9d78","type":"debug","z":"b36a36b6.20d0a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":249.5,"y":1936,"wires":[]},{"id":"9e6c62a5.9758e","type":"function","z":"b36a36b6.20d0a","name":"Query para Borrar la ESP","func":"msg.payload = {\"ChipID\": msg.payload.ChipID};\nreturn msg;","outputs":1,"noerr":0,"x":521.5,"y":1942,"wires":[["edb4e391.877758"]]},{"id":"8bc0307e.73ec3","type":"ui_dropdown","z":"b36a36b6.20d0a","name":"","label":"","tooltip":"","place":"Selecciona una ESP","group":"c12f6996.02b35","order":6,"width":0,"height":0,"passthru":true,"options":[{"label":"Todas","value":"Todas","type":"str"}],"payload":"","topic":"","x":1009.5,"y":2139,"wires":[["fda17143.7ffaa8"]],"outputLabels":["oye"]},{"id":"923d1950.ccb9c","type":"link out","z":"b36a36b6.20d0a","name":"Conexion Handler","links":["9630dce0.4fbba","abb2a18d.ef58f"],"x":364.5,"y":1368,"wires":[]},{"id":"9630dce0.4fbba","type":"link in","z":"b36a36b6.20d0a","name":"","links":["923d1950.ccb9c"],"x":76.5,"y":2082,"wires":[["afe1e57b.a61708"]]},{"id":"2c2b3900.08c048","type":"function","z":"b36a36b6.20d0a","name":"Convertir datos a .options ","func":"var longitud = msg.payload.length;\nmsg.options = [];\nvar listaGlobal = [];\n\nif(longitud >0){\n    msg.options[0] = \"Todas\";\n    for(var i = 0; i < longitud; i++){\n        msg.options[i+1] = msg.payload[i].ChipID;\n        //new mod\n        listaGlobal.push(msg.payload[i].ChipID);\n    }\n    if(global.get(\"ESP\") !== 0){\n      msg.payload = global.get(\"ESP\");\n    }else{\n      msg.payload = msg.payload[0].ChipID;\n      global.set(\"ESP\",msg.payload);\n      \n    }\n    //new mod\n    global.set(\"listaGlobal\", listaGlobal);\n}else{\n    msg.options[0] = \"No hay ESPs\";\n}\nreturn msg;","outputs":1,"noerr":0,"x":776.5,"y":2137,"wires":[["8bc0307e.73ec3"]]},{"id":"fda17143.7ffaa8","type":"function","z":"b36a36b6.20d0a","name":"Setear Global","func":"global.set(\"ESP\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":1228.5,"y":2141,"wires":[["58c358d9.38eb08"]]},{"id":"afe1e57b.a61708","type":"delay","z":"b36a36b6.20d0a","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":178.5,"y":2109,"wires":[["9a18de34.3ac238"]]},{"id":"d3e473b4.c12798","type":"function","z":"b36a36b6.20d0a","name":"Extraer ESP del Topic","func":"global.set(\"ESP_Actual\",msg.topic.split(\"/\")[2].substr(3));\nif(global.get(\"ESP_Actual\") != global.get(\"ESP\")){\n    global.set(\"ESP_Iguales\",false);\n}else{\n    global.set(\"ESP_Iguales\",true);\n}\nreturn msg;","outputs":1,"noerr":0,"x":396,"y":137,"wires":[["dff3d058.bd6698"]]},{"id":"dff3d058.bd6698","type":"switch","z":"b36a36b6.20d0a","name":"","property":"ESP_Iguales","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":508.5,"y":231,"wires":[["becf60db.300488"]]},{"id":"7100b23c.552104","type":"function","z":"b36a36b6.20d0a","name":"Extraer ESP del Topic","func":"global.set(\"ESP_Actual\",msg.topic.split(\"/\")[2].substr(3));\nmsg.payload = global.get(\"ESP_Actual\");\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":2328,"wires":[["a9a5ff53.7c66a"]]},{"id":"7d8ba049.ac8ea8","type":"inject","z":"b36a36b6.20d0a","name":"","topic":"infind/GRUPO7/ESP418957/datos","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":111,"y":2329,"wires":[["7100b23c.552104"]]},{"id":"a9a5ff53.7c66a","type":"debug","z":"b36a36b6.20d0a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":653,"y":2329,"wires":[]},{"id":"7bd386e.4066978","type":"comment","z":"b36a36b6.20d0a","name":"Zona Testeo","info":"sólo el payload\nantes le añadimos la fecha","x":119,"y":2257,"wires":[]},{"id":"1854ea8e.5aa475","type":"switch","z":"b36a36b6.20d0a","name":"","property":"ESP_Iguales","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":610,"y":1000,"wires":[["1af3db82.0ea1f4"]]},{"id":"8424e4eb.44a51","type":"function","z":"b36a36b6.20d0a","name":"Extraer ESP del Topic","func":"global.set(\"ESP_Actual\",msg.topic.split(\"/\")[2].substr(3));\nif(global.get(\"ESP_Actual\") != global.get(\"ESP\")){\n    global.set(\"ESP_Iguales\",false);\n}else{\n    global.set(\"ESP_Iguales\",true);\n}\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":1000,"wires":[["1854ea8e.5aa475"]]},{"id":"255988df.f09c58","type":"function","z":"b36a36b6.20d0a","name":"Enviar a la ESP correspondiente","func":"if (global.get(\"ESP\") == \"Todas\"){\n    listaG = global.get(\"listaGlobal\");\n    for(var i=0; i<listaG.length;i++){\n        var topic = \"infind/GRUPO7/ESP\"+listaG[i]+\"/led/cmd\";\n        msg.topic = topic;\n        node.send(msg);\n\n    }\n}else{\n    var topic = \"infind/GRUPO7/ESP\" + global.get(\"ESP\")+\"/led/cmd\";\n    msg.topic = topic;\n    return msg;\n}","outputs":1,"noerr":0,"x":904.5,"y":773,"wires":[["f1d366ce.789c4","9104b2c4.8cfa4"]]},{"id":"26b9256f.9c0bb2","type":"function","z":"b36a36b6.20d0a","name":"Enviar a la ESP correspondiente","func":"if (global.get(\"ESP\") == \"Todas\"){\n    listaG = global.get(\"listaGlobal\");\n    for(var i=0; i<listaG.length;i++){\n        var topic = \"infind/GRUPO7/ESP\"+listaG[i]+\"/FOTA\";\n        msg.topic = topic;\n        node.send(msg);\n\n    }\n}else{\n    var topic = \"infind/GRUPO7/ESP\" + global.get(\"ESP\")+\"/FOTA\";\n    msg.topic = topic;\n    return msg;\n}","outputs":1,"noerr":0,"x":381,"y":1515,"wires":[["b7338c2f.c993b"]]},{"id":"9104b2c4.8cfa4","type":"debug","z":"b36a36b6.20d0a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"topic","x":1115.5,"y":871,"wires":[]},{"id":"a1bcc953.38db9","type":"json","z":"b36a36b6.20d0a","name":"","property":"payload","action":"","pretty":false,"x":667,"y":1320,"wires":[["4eabb80b.c4bc18"]]},{"id":"7139a84d.59a7a8","type":"comment","z":"b36a36b6.20d0a","name":"Dropdown de ESP's","info":"sólo el payload\nantes le añadimos la fecha","x":123,"y":2019,"wires":[]},{"id":"58c358d9.38eb08","type":"link out","z":"b36a36b6.20d0a","name":"Estado Led","links":["dd0971fa.849998"],"x":1363.5,"y":2094,"wires":[]},{"id":"41888713.22ed","type":"comment","z":"b36a36b6.20d0a","name":"Guardar Logs","info":"sólo el payload\nantes le añadimos la fecha","x":124,"y":2438,"wires":[]},{"id":"270b8c54.53930c","type":"mqtt in","z":"b36a36b6.20d0a","name":"","topic":"infind/GRUPO7/+/log","qos":"2","broker":"e1dbb8c6.bf933","x":129,"y":2520,"wires":[["6ed407a4.4b1ee","f5b9b945.b72f68"]]},{"id":"6ce4f489.145fac","type":"mongodb out","z":"b36a36b6.20d0a","mongodb":"f25312a6.3b1228","name":"Guardar Log del sistema","collection":"log","payonly":true,"upsert":false,"multi":false,"operation":"store","x":1030,"y":2520,"wires":[]},{"id":"6ed407a4.4b1ee","type":"json","z":"b36a36b6.20d0a","name":"","property":"payload","action":"","pretty":false,"x":365,"y":2520,"wires":[["a8bb89da.598e58"]]},{"id":"a8bb89da.598e58","type":"function","z":"b36a36b6.20d0a","name":"+ fecha","func":"msg.payload.date = new Date();\nreturn msg;","outputs":1,"noerr":0,"x":533,"y":2519,"wires":[["d172326e.b6d3b8"]]},{"id":"f5b9b945.b72f68","type":"debug","z":"b36a36b6.20d0a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":424.5,"y":2590,"wires":[]},{"id":"60f53696.bb8cd","type":"inject","z":"b36a36b6.20d0a","name":"","topic":"","payload":"{ }","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":109,"y":2687,"wires":[["fcbaa6ab.443c8"]]},{"id":"fcbaa6ab.443c8","type":"mongodb in","z":"b36a36b6.20d0a","mongodb":"f25312a6.3b1228","name":"","collection":"log","operation":"find","x":454.00006103515625,"y":2691.633544921875,"wires":[["4cde3b1d.528644"]]},{"id":"4cde3b1d.528644","type":"debug","z":"b36a36b6.20d0a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":787,"y":2689,"wires":[]},{"id":"1e513076.e78508","type":"link out","z":"b36a36b6.20d0a","name":"Registro Offline","links":["c807f4cd.60263"],"x":462.5,"y":2029,"wires":[]},{"id":"c807f4cd.60263","type":"link in","z":"b36a36b6.20d0a","name":"","links":["1e513076.e78508"],"x":95,"y":2780,"wires":[["3e32a175.009586"]]},{"id":"3e32a175.009586","type":"function","z":"b36a36b6.20d0a","name":"Formatear Mensaje Desconexion","func":"var chipID = msg.payload.ChipID;\nmsg.payload = {\"ChipID\" : chipID, \"Tipo\" : \"Alerta\", \"Mensaje\": \"ESP desconectada de manera prematura\"};\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":2780,"wires":[["5cdf7379.ebdce4"]]},{"id":"5cdf7379.ebdce4","type":"function","z":"b36a36b6.20d0a","name":"+ fecha","func":"msg.payload.date = new Date();\nreturn msg;","outputs":1,"noerr":0,"x":680,"y":2780,"wires":[["d172326e.b6d3b8"]]},{"id":"cbf6d82.e190228","type":"mqtt in","z":"b36a36b6.20d0a","name":"","topic":"infind/GRUPO7/+/switch/status","qos":"2","broker":"e1dbb8c6.bf933","x":180.5,"y":3012,"wires":[["31430870.0ed3f8"]]},{"id":"ecd99c0b.f4e708","type":"json","z":"b36a36b6.20d0a","name":"","property":"payload","action":"","pretty":false,"x":856,"y":3010,"wires":[[]]},{"id":"19a37e9d.7f4031","type":"switch","z":"b36a36b6.20d0a","name":"","property":"ESP_Iguales","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":677.2999877929688,"y":3018.7999877929688,"wires":[["ecd99c0b.f4e708"]]},{"id":"31430870.0ed3f8","type":"function","z":"b36a36b6.20d0a","name":"Extraer ESP del Topic","func":"global.set(\"ESP_Actual\",msg.topic.split(\"/\")[2].substr(3));\nif(global.get(\"ESP_Actual\") != global.get(\"ESP\")){\n    global.set(\"ESP_Iguales\",false);\n}else{\n    global.set(\"ESP_Iguales\",true);\n}\nreturn msg;","outputs":1,"noerr":0,"x":473.79998779296875,"y":3011.7999877929688,"wires":[["19a37e9d.7f4031"]]},{"id":"66330cbf.f9e8dc","type":"debug","z":"b36a36b6.20d0a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":790,"y":3220,"wires":[]},{"id":"6d637395.91e454","type":"mqtt out","z":"b36a36b6.20d0a","name":"","topic":"","qos":"","retain":"","broker":"e1dbb8c6.bf933","x":790,"y":3140,"wires":[]},{"id":"6721f8e8.0610c","type":"function","z":"b36a36b6.20d0a","name":"Enviar a la ESP correspondiente","func":"\nif (global.get(\"ESP\") == \"Todas\"){\n    listaG = global.get(\"listaGlobal\");\n    for(var i=0; i<listaG.length;i++){\n        var topic = \"infind/GRUPO7/ESP\"+listaG[i]+\"/switch/cmd\";\n        msg.topic = topic;\n        node.send(msg);\n\n    }\n}else{\n    var topic = \"infind/GRUPO7/ESP\" + global.get(\"ESP\")+\"/switch/cmd\";\n    msg.topic = topic;\n    return msg;\n}","outputs":1,"noerr":0,"x":450,"y":3140,"wires":[["6d637395.91e454","66330cbf.f9e8dc"]]},{"id":"c385fc9e.e39e3","type":"ui_switch","z":"b36a36b6.20d0a","name":"","label":"Switch LED","tooltip":"","group":"355c67ec.872d6","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"{\"level\":\"1\"}","onvalueType":"json","onicon":"","oncolor":"","offvalue":"{\"level\":\"0\"}","offvalueType":"json","officon":"","offcolor":"","x":150,"y":3140,"wires":[["6721f8e8.0610c"]]},{"id":"d172326e.b6d3b8","type":"function","z":"b36a36b6.20d0a","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"x":800,"y":2520,"wires":[["6ce4f489.145fac","fdc89403.870bb8"]]},{"id":"fdc89403.870bb8","type":"link out","z":"b36a36b6.20d0a","name":"Log Entrada","links":["d04437cc.53cb08"],"x":955,"y":2600,"wires":[]},{"id":"8614b028.0ed178","type":"function","z":"b36a36b6.20d0a","name":"Hora y ChipID","func":"var d = new Date();\nvar mes = d.getMonth()+1;\nvar time = d.getHours() + \":\" + d.getMinutes() + \":\" + d.getSeconds() + \" \" + \"(\" + d.getUTCDate() + \"/\" + mes + \"/\" + d.getFullYear() + \")\";\nmsg.payload.hora = time;\nmsg.payload.date = d;\nmsg.payload.ChipID = msg.topic.split(\"/\")[2].substr(3);\nreturn msg.payload;","outputs":1,"noerr":0,"x":560,"y":1120,"wires":[["13801a66.a9fc86","81f052a7.1e2938"]]},{"id":"86d3a3c7.1f2dc","type":"json","z":"b36a36b6.20d0a","name":"","property":"payload","action":"","pretty":false,"x":350,"y":1120,"wires":[["8614b028.0ed178"]]},{"id":"13801a66.a9fc86","type":"mongodb out","z":"b36a36b6.20d0a","mongodb":"f25312a6.3b1228","name":"Guardar datos sensores","collection":"DatosESP","payonly":false,"upsert":false,"multi":false,"operation":"store","x":850,"y":1120,"wires":[]},{"id":"68e6c0be.c1db18","type":"comment","z":"b36a36b6.20d0a","name":"Guardar últimos valores recibidos","info":"","x":430,"y":1060,"wires":[]},{"id":"81f052a7.1e2938","type":"debug","z":"b36a36b6.20d0a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":810,"y":1180,"wires":[]},{"id":"be207e3c.81ecf","type":"link out","z":"b36a36b6.20d0a","name":"Envio valores sensor","links":["7177337f.a17aac"],"x":315,"y":80,"wires":[]},{"id":"10b194e8.2acd4b","type":"comment","z":"b36a36b6.20d0a","name":"Flujo maximo minimo dashboard","info":"","x":190,"y":3520,"wires":[]},{"id":"33550a0f.e422be","type":"function","z":"b36a36b6.20d0a","name":"Obtener ESP correspondiente","func":"if (global.get(\"ESP\") === \"Todas\"){\n    msg.payload = {\"ChipID\": \"Global\"};\n}else{\n   msg.payload = {\"ChipID\": global.get(\"ESP\")};\n}\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":3640,"wires":[["339ebe90.95b7ba"]]},{"id":"abb2a18d.ef58f","type":"link in","z":"b36a36b6.20d0a","name":"","links":["923d1950.ccb9c"],"x":35,"y":3380,"wires":[["91f7ce8f.fce428","cad86bce.02b9c"]]},{"id":"127ddaf6.bde745","type":"mongodb in","z":"b36a36b6.20d0a","mongodb":"f25312a6.3b1228","name":"","collection":"MinimoMaximo","operation":"find","x":610,"y":3380,"wires":[["a5239a33.0069f"]]},{"id":"1c9bc4a.6c0c93b","type":"function","z":"b36a36b6.20d0a","name":"","func":"msg.chipID = msg.payload.ChipID;\nmsg.payload = {\"ChipID\": msg.payload.ChipID};\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":3380,"wires":[["127ddaf6.bde745"]]},{"id":"e02f9e45.755328","type":"comment","z":"b36a36b6.20d0a","name":"maximo minimo primeros valores","info":"","x":150,"y":3320,"wires":[]},{"id":"75322aa6.1690b4","type":"ui_numeric","z":"b36a36b6.20d0a","name":"","label":"Temperatura Mínimo","tooltip":"","group":"64d4dfaa.cec008","order":1,"width":0,"height":0,"passthru":false,"topic":"temp_min","format":"{{payload[0].temp.min}}","min":"-100","max":"50","step":1,"x":980,"y":3680,"wires":[["a4d1b0b2.f02678"]]},{"id":"bc1cb77.891bd48","type":"ui_button","z":"b36a36b6.20d0a","name":"","group":"64d4dfaa.cec008","order":5,"width":0,"height":0,"passthru":true,"label":"Enviar","tooltip":"","color":"","bgcolor":"","icon":"","payload":"min_max","payloadType":"global","topic":"","x":130,"y":3880,"wires":[["eaa6aaee.3ab058"]]},{"id":"50561f8a.bd401","type":"ui_numeric","z":"b36a36b6.20d0a","name":"","label":"Temperatura Máxima","tooltip":"","group":"64d4dfaa.cec008","order":2,"width":0,"height":0,"passthru":false,"topic":"temp_max","format":"{{payload[0].temp.max}}","min":"-99","max":"51","step":1,"x":980,"y":3720,"wires":[["64c50115.95c6c"]]},{"id":"e54c28d1.c6566","type":"ui_numeric","z":"b36a36b6.20d0a","name":"","label":"Humedad Máxima","tooltip":"","group":"64d4dfaa.cec008","order":4,"width":0,"height":0,"passthru":false,"topic":"hum_max","format":"{{payload[0].hum.max}}","min":"1","max":"100","step":1,"x":970,"y":3800,"wires":[["82347c00.514198"]]},{"id":"db1ed5c2.731f2","type":"ui_numeric","z":"b36a36b6.20d0a","name":"","label":"Humedad Mínima","tooltip":"","group":"64d4dfaa.cec008","order":3,"width":0,"height":0,"passthru":false,"topic":"hum_min","format":"{{value}}","min":0,"max":"99","step":1,"x":970,"y":3760,"wires":[["33e31526.f61b6a"]]},{"id":"ae9d2ddf.319a7","type":"mongodb in","z":"b36a36b6.20d0a","mongodb":"f25312a6.3b1228","name":"","collection":"MinimoMaximo","operation":"find","x":470,"y":3440,"wires":[["65bfe96e.f7e7f8"]]},{"id":"91f7ce8f.fce428","type":"function","z":"b36a36b6.20d0a","name":"","func":"msg.payload = {\"ChipID\": \"Global\"};\nreturn msg;","outputs":1,"noerr":0,"x":190,"y":3440,"wires":[["ae9d2ddf.319a7"]]},{"id":"a5239a33.0069f","type":"switch","z":"b36a36b6.20d0a","name":"","property":"payload","propertyType":"msg","rules":[{"t":"empty"}],"checkall":"true","repair":false,"outputs":1,"x":890,"y":3380,"wires":[["fc9b2447.c526e8"]]},{"id":"cad86bce.02b9c","type":"json","z":"b36a36b6.20d0a","name":"","property":"payload","action":"","pretty":false,"x":190,"y":3380,"wires":[["1c9bc4a.6c0c93b"]]},{"id":"fc9b2447.c526e8","type":"switch","z":"b36a36b6.20d0a","name":"No Chips vacios","property":"chipID","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","repair":false,"outputs":1,"x":1060,"y":3380,"wires":[["4900c586.28055c"]]},{"id":"4900c586.28055c","type":"function","z":"b36a36b6.20d0a","name":"Set min and max","func":"minmax = global.get(\"MinMax\");\ntemp_ = minmax.temp;\nhum_ = minmax.hum;\nmsg.payload = {\"ChipID\":msg.chipID};\nmsg.payload.temp={\"min\": temp_.min, \"max\": temp_.max};\nmsg.payload.hum={\"min\": hum_.min, \"max\": hum_.max};\nreturn msg;","outputs":1,"noerr":0,"x":1270,"y":3380,"wires":[["767598cd.565608"]]},{"id":"767598cd.565608","type":"mongodb out","z":"b36a36b6.20d0a","mongodb":"f25312a6.3b1228","name":"","collection":"MinimoMaximo","payonly":true,"upsert":false,"multi":false,"operation":"store","x":1590,"y":3380,"wires":[]},{"id":"65bfe96e.f7e7f8","type":"change","z":"b36a36b6.20d0a","name":"","rules":[{"t":"set","p":"MinMax","pt":"global","to":"payload[0]","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":790,"y":3440,"wires":[[]]},{"id":"339ebe90.95b7ba","type":"mongodb in","z":"b36a36b6.20d0a","mongodb":"f25312a6.3b1228","name":"","collection":"MinimoMaximo","operation":"find","x":410,"y":3740,"wires":[["8d9f9c60.ca0fa","bcb6692d.90c038","693a7340.2e464c","41858db1.2aa1dc","b89b111e.210008"]]},{"id":"64c50115.95c6c","type":"change","z":"b36a36b6.20d0a","name":"","rules":[{"t":"set","p":"temp_max","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1220,"y":3720,"wires":[[]]},{"id":"33e31526.f61b6a","type":"change","z":"b36a36b6.20d0a","name":"","rules":[{"t":"set","p":"hum_min","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1210,"y":3760,"wires":[[]]},{"id":"82347c00.514198","type":"change","z":"b36a36b6.20d0a","name":"","rules":[{"t":"set","p":"hum_max","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1220,"y":3800,"wires":[[]]},{"id":"eaa6aaee.3ab058","type":"function","z":"b36a36b6.20d0a","name":"Obtener resultados","func":"temp_min = global.get(\"temp_min\");\ntemp_max = global.get(\"temp_max\");\nhum_min = global.get(\"hum_min\");\nhum_max = global.get(\"hum_max\");\nif (global.get(\"ESP\") == \"Todas\"){\n    msg.payload = {\"ChipID\": \"Global\"};\n}else{\n   msg.payload = {\"ChipID\": global.get(\"ESP\")};\n}\nmsg.payload.temp = {\"min\": temp_min, \"max\": temp_max};\nmsg.payload.hum = {\"min\": hum_min, \"max\": hum_max};\nmsg.query = {\"_id\": global.get(\"minmax_id\")};\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":3880,"wires":[["68de8e07.831e48"]]},{"id":"68de8e07.831e48","type":"switch","z":"b36a36b6.20d0a","name":"comprobar temperatura","property":"payload.temp.min","propertyType":"msg","rules":[{"t":"lt","v":"payload.temp.max","vt":"msg"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":650,"y":3880,"wires":[["5250da7.3c10f24"],["36de22.4899a9de"]]},{"id":"5250da7.3c10f24","type":"switch","z":"b36a36b6.20d0a","name":"comprobar humedad","property":"payload.hum.min","propertyType":"msg","rules":[{"t":"lt","v":"payload.hum.max","vt":"msg"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1040,"y":3880,"wires":[["8448c347.1f499","e2cbdb00.75b958"],["6290765c.e5be4"]]},{"id":"dd0971fa.849998","type":"link in","z":"b36a36b6.20d0a","name":"Actualizar valores","links":["58c358d9.38eb08"],"x":75,"y":3560,"wires":[["3d6f1d8a.e1349a"]]},{"id":"3d6f1d8a.e1349a","type":"function","z":"b36a36b6.20d0a","name":"","func":"if(!global.get(\"ESP_Antigua\") || global.get(\"ESP_Antigua\") !=  msg.payload){\n    global.set(\"ESP_Antigua\", msg.payload);\n    msg.diff = 1;\n}\nelse msg.diff = 0;\nreturn msg;","outputs":1,"noerr":0,"x":190,"y":3560,"wires":[["5f785f5f.6f17d"]]},{"id":"5f785f5f.6f17d","type":"switch","z":"b36a36b6.20d0a","name":"","property":"diff","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":320,"y":3560,"wires":[["33550a0f.e422be"]]},{"id":"8d9f9c60.ca0fa","type":"function","z":"b36a36b6.20d0a","name":"","func":"msg.payload = msg.payload[0].temp.min;\nglobal.set(\"temp_min\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":790,"y":3680,"wires":[["75322aa6.1690b4"]]},{"id":"bcb6692d.90c038","type":"function","z":"b36a36b6.20d0a","name":"","func":"msg.payload = msg.payload[0].temp.max;\nglobal.set(\"temp_max\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":790,"y":3720,"wires":[["50561f8a.bd401"]]},{"id":"693a7340.2e464c","type":"function","z":"b36a36b6.20d0a","name":"","func":"msg.payload = msg.payload[0].hum.min;\nglobal.set(\"hum_min\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":790,"y":3760,"wires":[["db1ed5c2.731f2"]]},{"id":"41858db1.2aa1dc","type":"function","z":"b36a36b6.20d0a","name":"","func":"msg.payload = msg.payload[0].hum.max;\nglobal.set(\"hum_max\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":790,"y":3800,"wires":[["e54c28d1.c6566"]]},{"id":"b89b111e.210008","type":"change","z":"b36a36b6.20d0a","name":"","rules":[{"t":"set","p":"minmax_id","pt":"global","to":"payload[0]._id","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":840,"y":3640,"wires":[[]]},{"id":"4e18c426.4b6bcc","type":"link out","z":"b36a36b6.20d0a","name":"minmax global","links":["81957708.a65d58"],"x":1895,"y":3880,"wires":[]},{"id":"81957708.a65d58","type":"link in","z":"b36a36b6.20d0a","name":"minmax global","links":["4e18c426.4b6bcc"],"x":135,"y":4100,"wires":[["4a39d9e0.8d66a8"]]},{"id":"4a39d9e0.8d66a8","type":"function","z":"b36a36b6.20d0a","name":"Busqueda demas Chips","func":"msg.temp = msg.payload.temp;\nmsg.hum = msg.payload.hum;\nmsg.payload = {\"ChipID\":{\"$not\": {\"$eq\": \"Global\"}}};\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":4100,"wires":[["fa3f6b64.880a08"]]},{"id":"fa3f6b64.880a08","type":"mongodb in","z":"b36a36b6.20d0a","mongodb":"f25312a6.3b1228","name":"","collection":"MinimoMaximo","operation":"find","x":830,"y":4100,"wires":[["a00f438e.b4c1e8"]]},{"id":"a00f438e.b4c1e8","type":"function","z":"b36a36b6.20d0a","name":"Cambio valores Chips","func":"temp_min = global.get(\"temp_min\");\ntemp_max = global.get(\"temp_max\");\nhum_min = global.get(\"hum_min\");\nhum_max = global.get(\"hum_max\");\nvar lista = msg.payload;\nfor(i=0; i<lista.length;i++){\n    msg.payload = {\"ChipID\": lista[i].ChipID};\n    msg.payload.temp = msg.temp;\n    msg.payload.hum = msg.hum;\n    msg.query = {\"_id\": lista[i]._id};\n    node.send(msg);\n}\n","outputs":1,"noerr":0,"x":1240,"y":4100,"wires":[["dc28b23.885c3d","7cba2e5f.9b8378"]]},{"id":"dc28b23.885c3d","type":"mongodb out","z":"b36a36b6.20d0a","mongodb":"f25312a6.3b1228","name":"","collection":"MinimoMaximo","payonly":true,"upsert":false,"multi":false,"operation":"update","x":1590,"y":4100,"wires":[]},{"id":"e2cbdb00.75b958","type":"mongodb out","z":"b36a36b6.20d0a","mongodb":"f25312a6.3b1228","name":"","collection":"MinimoMaximo","payonly":true,"upsert":false,"multi":false,"operation":"update","x":1550,"y":3840,"wires":[]},{"id":"e6914868.891e48","type":"link out","z":"b36a36b6.20d0a","name":"Cambio valores minmax","links":["5710b06f.2983b"],"x":1895,"y":3920,"wires":[]},{"id":"8448c347.1f499","type":"switch","z":"b36a36b6.20d0a","name":"Comprobar chip","property":"payload.ChipID","propertyType":"msg","rules":[{"t":"eq","v":"Global","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1400,"y":3900,"wires":[["4e18c426.4b6bcc"],["7cba2e5f.9b8378"]]},{"id":"7cba2e5f.9b8378","type":"function","z":"b36a36b6.20d0a","name":"Mensaje de valores cambiados","func":"var chipID = msg.payload.ChipID;\nmsg.payload = {\"ChipID\" : chipID, \"Tipo\" : \"Alerta\", \"Mensaje\": \"Valor de Temperatura/Humedad Máxima/Mínima cambiada\"};\nreturn msg;","outputs":1,"noerr":0,"x":1710,"y":3920,"wires":[["e6914868.891e48"]]},{"id":"5710b06f.2983b","type":"link in","z":"b36a36b6.20d0a","name":"Envio mensaje minmax y errores","links":["e6914868.891e48","70fec3dd.9c9e0c"],"x":535,"y":2840,"wires":[["5cdf7379.ebdce4"]]},{"id":"36de22.4899a9de","type":"function","z":"b36a36b6.20d0a","name":"Mensaje error Temperatura","func":"var chipID = msg.payload.ChipID;\nmsg.payload = {\"ChipID\" : chipID, \"Tipo\" : \"Error\", \"Mensaje\": \"Se ha intentado cambiar los valores Máximos y Mínimos de la Temperatura, pero el Mínimo tiene valor más alto que el Máximo\"};\nreturn msg;\n","outputs":1,"noerr":0,"x":1220,"y":4000,"wires":[["70fec3dd.9c9e0c"]]},{"id":"70fec3dd.9c9e0c","type":"link out","z":"b36a36b6.20d0a","name":"Cambio valores minmax","links":["5710b06f.2983b"],"x":1395,"y":3980,"wires":[]},{"id":"6290765c.e5be4","type":"function","z":"b36a36b6.20d0a","name":"Mensaje error humedad","func":"var chipID = msg.payload.ChipID;\nmsg.payload = {\"ChipID\" : chipID, \"Tipo\" : \"Error\", \"Mensaje\": \"Se ha intentado cambiar los valores Máximos y Mínimos de la Humedad, pero el Mínimo tiene valor más alto que el Máximo\"};\nreturn msg;","outputs":1,"noerr":0,"x":1210,"y":3960,"wires":[["70fec3dd.9c9e0c"]]},{"id":"a4d1b0b2.f02678","type":"change","z":"b36a36b6.20d0a","name":"","rules":[{"t":"set","p":"temp_min","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1220,"y":3680,"wires":[[]]},{"id":"ce6371f5.8b878","type":"comment","z":"b36a36b6.20d0a","name":"Ver si se ha cambiado el ChipID","info":"Se debe de hacer esto debido a que como se revisa\ncada 5 segundos si hay un cambio en los dispositivos\ndisponibles, hay que asegurarse que no entre si ya \nse ha visto que sigue siendo el mismo ChipID que antes.\n","x":550,"y":3560,"wires":[]},{"id":"522cee66.74345","type":"comment","z":"b36a36b6.20d0a","name":"Obtención de los valores MinMax del ChipID","info":"","x":430,"y":3800,"wires":[]},{"id":"925c2ae.2c4e8d8","type":"comment","z":"b36a36b6.20d0a","name":"Envío de los cambios","info":"","x":180,"y":3840,"wires":[]},{"id":"82fad0c8.c41938","type":"comment","z":"b36a36b6.20d0a","name":"Envío de los cambios de forma global","info":"","x":270,"y":4040,"wires":[]},{"id":"cf7c9af4.7c4a48","type":"comment","z":"b36a36b6.20d0a","name":"Comprobación de los valores temperatura y humedad de los sensores","info":"","x":370,"y":4300,"wires":[]},{"id":"7177337f.a17aac","type":"link in","z":"b36a36b6.20d0a","name":"Obtención valores sensor","links":["be207e3c.81ecf"],"x":135,"y":4400,"wires":[["85f70ad4.42cb7"]]},{"id":"85f70ad4.42cb7","type":"function","z":"b36a36b6.20d0a","name":"Busqueda Chip","func":"msg.payload.ChipID = msg.topic.split(\"/\")[2].substr(3);\nmsg.temp=msg.payload.DHT11.temp;\nmsg.hum=msg.payload.DHT11.hum;\nmsg.payload={\"ChipID\": msg.payload.ChipID};\nreturn msg;","outputs":1,"noerr":0,"x":260,"y":4400,"wires":[["ceb463f3.a698f8"]]},{"id":"ceb463f3.a698f8","type":"mongodb in","z":"b36a36b6.20d0a","mongodb":"f25312a6.3b1228","name":"","collection":"MinimoMaximo","operation":"find","x":570,"y":4400,"wires":[["cf18f55d.8d1328","f6d83459.cb2b7"]]},{"id":"cf18f55d.8d1328","type":"switch","z":"b36a36b6.20d0a","name":"Comprobar temperatura sensor","property":"temp","propertyType":"msg","rules":[{"t":"lt","v":" msg.payload[0].temp.min","vt":"str"},{"t":"gt","v":" msg.payload[0].temp.max","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":970,"y":4360,"wires":[["d1ed5512.c387c8"],["f7cb065.738ac78"]]},{"id":"f6d83459.cb2b7","type":"switch","z":"b36a36b6.20d0a","name":"Comprobar temperatura sensor","property":"temp","propertyType":"msg","rules":[{"t":"lt","v":" msg.payload[0].temp.min","vt":"str"},{"t":"gt","v":" msg.payload[0].temp.max","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":970,"y":4440,"wires":[["78528c2e.3dd244"],["bcf1e5e0.7837e8"]]},{"id":"d1ed5512.c387c8","type":"function","z":"b36a36b6.20d0a","name":"Mensaje Mínimo Temperatura","func":"var chipID = msg.payload[0].ChipID;\nmsg.payload = {\"ChipID\" : chipID, \"Tipo\" : \"Alerta\", \"Mensaje\": \"La Temperatura del sensor registrada ha superado el Mínimo\"};\nreturn msg;\n","outputs":1,"noerr":0,"x":1290,"y":4340,"wires":[["fbfd29b.b619bd8"]]},{"id":"f7cb065.738ac78","type":"function","z":"b36a36b6.20d0a","name":"Mensaje Máximo Temperatura","func":"var chipID = msg.payload[0].ChipID;\nmsg.payload = {\"ChipID\" : chipID, \"Tipo\" : \"Alerta\", \"Mensaje\": \"La Temperatura del sensor registrada ha superado el Máximo\"};\nreturn msg;\n","outputs":1,"noerr":0,"x":1290,"y":4380,"wires":[["fbfd29b.b619bd8"]]},{"id":"78528c2e.3dd244","type":"function","z":"b36a36b6.20d0a","name":"Mensaje Mínimo Humedad","func":"var chipID = msg.payload[0].ChipID;\nmsg.payload = {\"ChipID\" : chipID, \"Tipo\" : \"Alerta\", \"Mensaje\": \"La Humedad del sensor registrada ha superado el Mínimo\"};\nreturn msg;\n","outputs":1,"noerr":0,"x":1280,"y":4420,"wires":[["fbfd29b.b619bd8"]]},{"id":"bcf1e5e0.7837e8","type":"function","z":"b36a36b6.20d0a","name":"Mensaje Mámimo Humedad","func":"var chipID = msg.payload[0].ChipID;\nmsg.payload = {\"ChipID\" : chipID, \"Tipo\" : \"Alerta\", \"Mensaje\": \"La Humedad del sensor registrada ha superado el Máximo\"};\nreturn msg;\n","outputs":1,"noerr":0,"x":1280,"y":4460,"wires":[["fbfd29b.b619bd8"]]},{"id":"dbfcf362.03cc5","type":"comment","z":"b36a36b6.20d0a","name":"Mensaje de aviso o error del cambio de Mínimos y Máximos","info":"","x":280,"y":2840,"wires":[]},{"id":"9c95b37.56bf15","type":"comment","z":"b36a36b6.20d0a","name":"Mensaje de aviso de superacion del Mínimo o Máximo de un sensor","info":"","x":260,"y":2880,"wires":[]},{"id":"86180130.78cef8","type":"link in","z":"b36a36b6.20d0a","name":"Envio mensaje sensor","links":["fbfd29b.b619bd8"],"x":535,"y":2880,"wires":[["5cdf7379.ebdce4"]]},{"id":"fbfd29b.b619bd8","type":"link out","z":"b36a36b6.20d0a","name":"Mensaje sensor","links":["86180130.78cef8"],"x":1555,"y":4400,"wires":[]},{"id":"11b93fff.7042f","type":"link in","z":"b36a36b6.20d0a","name":"Envio mensaje telegram","links":["35e3cb84.f5cbe4"],"x":535,"y":2920,"wires":[["5cdf7379.ebdce4"]]},{"id":"b9129aae.63921","type":"comment","z":"b36a36b6.20d0a","name":"Mensaje desde Telegram","info":"","x":390,"y":2920,"wires":[]},{"id":"e1dbb8c6.bf933","type":"mqtt-broker","z":"","name":"","broker":"iot.ac.uma.es","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""},{"id":"5e6cde94.49ef4","type":"ui_group","z":"","name":"Datos","tab":"ae4ca854.5cd97","order":1,"disp":true,"width":"7","collapse":false},{"id":"ba318336.79143","type":"ui_group","z":"","name":"Gráfica (Temperatura, Humedad)","tab":"ae4ca854.5cd97","order":3,"disp":true,"width":"8","collapse":false},{"id":"c12f6996.02b35","type":"ui_group","z":"","name":"Datos WIFI y ESP8266","tab":"ae4ca854.5cd97","order":4,"disp":true,"width":"6","collapse":false},{"id":"355c67ec.872d6","type":"ui_group","z":"","name":"Control LED","tab":"ae4ca854.5cd97","order":5,"disp":true,"width":"8","collapse":false},{"id":"f25312a6.3b1228","type":"mongodb","z":"","hostname":"iot.ac.uma.es","port":"27017","db":"IOT7","name":"Conexion a UMA MongoDB Grupo7"},{"id":"64d4dfaa.cec008","type":"ui_group","z":"","name":"Mínimos y Máximos","tab":"ae4ca854.5cd97","order":2,"disp":true,"width":"6","collapse":false},{"id":"ae4ca854.5cd97","type":"ui_tab","z":"","name":"Monitorización ESP","icon":"dashboard","order":7,"disabled":false,"hidden":false}]
