mqtt/Flujo_ESPGlobal.json
[{"id":"c717c617.e37d98","type":"tab","label":"Flow 5","disabled":false,"info":""},{"id":"3d5066e3.bc53ea","type":"mqtt in","z":"c717c617.e37d98","name":"","topic":"infind/GRUPO7/datos","qos":"2","broker":"be1608b4.7596a8","x":106.20001220703125,"y":145.1999969482422,"wires":[["443ad64c.8a8d28"]]},{"id":"30a37b0e.5f80f4","type":"mqtt out","z":"c717c617.e37d98","name":"","topic":"","qos":"1","retain":"","broker":"be1608b4.7596a8","x":987.2000122070312,"y":786.2000122070312,"wires":[]},{"id":"63f172dc.a0e20c","type":"mqtt in","z":"c717c617.e37d98","name":"","topic":"infind/GRUPO7/+/led/status","qos":"2","broker":"be1608b4.7596a8","x":180.20001220703125,"y":1074.1998901367188,"wires":[["bfbbadda.135fc"]]},{"id":"bfbbadda.135fc","type":"debug","z":"c717c617.e37d98","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":463.20001220703125,"y":1077.1998901367188,"wires":[]},{"id":"55e22313.fb420c","type":"ui_gauge","z":"c717c617.e37d98","name":"","group":"1b169b96.c5f0c4","order":2,"width":0,"height":0,"gtype":"gage","title":"Temperatura","label":"ºC","format":"{{payload.DHT11.temp}}","min":"-10","max":"45","colors":["#0033ff","#22fc03","#ca3838"],"seg1":"","seg2":"","x":643.2000122070312,"y":39.19999694824219,"wires":[]},{"id":"90cb1cf5.9502e","type":"ui_gauge","z":"c717c617.e37d98","name":"","group":"1b169b96.c5f0c4","order":2,"width":0,"height":0,"gtype":"wave","title":"Humedad","label":"%","format":"{{payload.DHT11.hum}}","min":0,"max":"100","colors":["#8ddbf1","#264ad9","#011bfe"],"seg1":"","seg2":"","x":643.2000122070312,"y":88.19999694824219,"wires":[]},{"id":"f1169e68.8e6fd","type":"comment","z":"c717c617.e37d98","name":"Recuperación de datos","info":"","x":170.49998474121094,"y":57.59999084472656,"wires":[]},{"id":"443ad64c.8a8d28","type":"json","z":"c717c617.e37d98","name":"","property":"payload","action":"","pretty":false,"x":377.20001220703125,"y":139.1999969482422,"wires":[["55e22313.fb420c","90cb1cf5.9502e","8851067b.71d8a8","f60bf2e9.78a89","4afbd942.83b9d8","bb097f4a.33a31","d55980d.872a58","f5515d2b.04a1f","fe4eff6c.c1d2b"]]},{"id":"8851067b.71d8a8","type":"function","z":"c717c617.e37d98","name":"Split","func":"var msg1 = {};\nvar msg2 = {};\n\nmsg1.payload=msg.payload.DHT11.temp;\nmsg1.topic = \"Temperatura\";\nmsg2.payload=msg.payload.DHT11.hum;\nmsg2.topic=\"Humedad\";\nreturn [msg1,msg2];","outputs":2,"noerr":0,"x":580,"y":153.99998474121094,"wires":[["aedef8e.01c5608"],["aedef8e.01c5608"]]},{"id":"aedef8e.01c5608","type":"ui_chart","z":"c717c617.e37d98","name":"","group":"d4e4aee3.f3f9d","order":0,"width":"0","height":"0","label":"Temperatura-Humedad","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"10","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":820,"y":153.99998474121094,"wires":[[],[]]},{"id":"f60bf2e9.78a89","type":"template","z":"c717c617.e37d98","name":"lista en formato html","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":" <h3>Datos de Wifi: </h3>\n ","output":"str","x":649,"y":230.99998474121094,"wires":[["e9f5d42a.3d7828"]]},{"id":"e9f5d42a.3d7828","type":"ui_template","z":"c717c617.e37d98","group":"43960519.85193c","name":"Datos de Wifi","order":1,"width":"6","height":"1","format":"<div ng-bind-html=\"msg.payload\"></div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":866,"y":232.99998474121094,"wires":[[]]},{"id":"bb097f4a.33a31","type":"template","z":"c717c617.e37d98","name":"Titulo html","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":" <h3>ES8266: </h3>\n","output":"str","x":580,"y":297,"wires":[["9e636bc2.b0cb68"]]},{"id":"710bc048.7d792","type":"comment","z":"c717c617.e37d98","name":"Slider para intensidad de LED","info":"","x":168,"y":581,"wires":[]},{"id":"bfa4b2eb.8d2d4","type":"ui_slider","z":"c717c617.e37d98","name":"","label":"Limite Intensidad (%)","tooltip":"","group":"ce288cb2.e6b13","order":3,"width":0,"height":0,"passthru":true,"outs":"end","topic":"infind/GRUPO7/+/led/cmd","min":"0","max":"100","step":"1","x":168,"y":702,"wires":[["d42adc35.3768e","3e362aac.32acd6"]]},{"id":"d42adc35.3768e","type":"function","z":"c717c617.e37d98","name":"Convertir valor a JSON (level)","func":"\nmsg.payload = {\"level\": msg.payload};\nreturn msg;","outputs":1,"noerr":0,"x":457,"y":703,"wires":[["e7223517.7c3778"]]},{"id":"3e362aac.32acd6","type":"ui_text","z":"c717c617.e37d98","group":"ce288cb2.e6b13","order":1,"width":0,"height":0,"name":"","label":"Intensidad de luz","format":"{{msg.payload}}","layout":"col-center","x":420,"y":643,"wires":[]},{"id":"4afbd942.83b9d8","type":"function","z":"c717c617.e37d98","name":"Conversión mV a V y mS a S","func":"\nmsg.payload.Uptime = Math.trunc(msg.payload.Uptime/1000);\nmsg.payload.Voltaje = msg.payload.Voltaje/1000;\nreturn msg;","outputs":1,"noerr":0,"x":466,"y":493,"wires":[["5f9a7e57.4fd51","a9096379.28943","d64da041.e73e7"]]},{"id":"5f9a7e57.4fd51","type":"ui_text","z":"c717c617.e37d98","group":"43960519.85193c","order":6,"width":0,"height":0,"name":"","label":"Tiempo online:","format":"{{msg.payload.Uptime}} segundos","layout":"row-spread","x":770.5,"y":477.79998779296875,"wires":[]},{"id":"a9096379.28943","type":"ui_text","z":"c717c617.e37d98","group":"43960519.85193c","order":7,"width":0,"height":0,"name":"","label":"Voltaje","format":"{{msg.payload.Voltaje}} voltios","layout":"row-spread","x":773.5,"y":525.7999877929688,"wires":[]},{"id":"d64da041.e73e7","type":"ui_gauge","z":"c717c617.e37d98","name":"","group":"43960519.85193c","order":8,"width":0,"height":0,"gtype":"gage","title":"Voltaje","label":"Vcc","format":"{{payload.Voltaje}}","min":"0","max":"3.3","colors":["#0033ff","#22fc03","#ca3838"],"seg1":"","seg2":"","x":770.2000122070312,"y":572.2000122070312,"wires":[]},{"id":"9e636bc2.b0cb68","type":"ui_template","z":"c717c617.e37d98","group":"43960519.85193c","name":"Titulo ESP8266","order":5,"width":"6","height":"1","format":"<div ng-bind-html=\"msg.payload\"></div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":829.2000122070312,"y":298.20001220703125,"wires":[[]]},{"id":"fe4eff6c.c1d2b","type":"ui_text","z":"c717c617.e37d98","group":"43960519.85193c","order":2,"width":0,"height":0,"name":"","label":"SSID","format":"{{msg.payload.Wifi.SSID}}","layout":"row-spread","x":559.5,"y":347.79998779296875,"wires":[]},{"id":"f5515d2b.04a1f","type":"ui_text","z":"c717c617.e37d98","group":"43960519.85193c","order":3,"width":0,"height":0,"name":"","label":"IP Local","format":"{{msg.payload.Wifi.IP}}","layout":"row-spread","x":565.5,"y":396.79998779296875,"wires":[]},{"id":"d55980d.872a58","type":"ui_text","z":"c717c617.e37d98","group":"43960519.85193c","order":4,"width":0,"height":0,"name":"","label":"RSS","format":"{{msg.payload.Wifi.RSSI}}","layout":"row-spread","x":548.5,"y":444.79998779296875,"wires":[]},{"id":"2d7e45ab.c87aca","type":"comment","z":"c717c617.e37d98","name":"Último mensaje recibido","info":"","x":149.1999969482422,"y":909.2000122070312,"wires":[]},{"id":"72c684f.081f77c","type":"ui_text","z":"c717c617.e37d98","group":"ce288cb2.e6b13","order":7,"width":0,"height":0,"name":"","label":"Último dato recibido","format":"{{msg.payload.Hora}}","layout":"col-center","x":791.5,"y":967.7999877929688,"wires":[]},{"id":"f0bedfb5.e9101","type":"function","z":"c717c617.e37d98","name":"Hora","func":"var d = new Date();\nvar mes = d.getMonth()+1;\nvar time = d.getHours() + \":\" + d.getMinutes() + \":\" + d.getSeconds() + \" \" + \"(\" + d.getUTCDate() + \"/\" + mes + \"/\" + d.getFullYear() + \")\";\nmsg.payload.Hora = time;\nreturn msg;","outputs":1,"noerr":0,"x":564.2000122070312,"y":960.2000122070312,"wires":[["72c684f.081f77c"]]},{"id":"9ff796d1.2abe18","type":"mqtt in","z":"c717c617.e37d98","name":"","topic":"infind/GRUPO7/+/datos","qos":"2","broker":"be1608b4.7596a8","x":150.1999969482422,"y":978.2000122070312,"wires":[["68804810.29ed88"]]},{"id":"68804810.29ed88","type":"json","z":"c717c617.e37d98","name":"","property":"payload","action":"","pretty":false,"x":401.20001220703125,"y":951.2000122070312,"wires":[["f0bedfb5.e9101"]]},{"id":"65e1fe3.4d171","type":"mqtt in","z":"c717c617.e37d98","name":"","topic":"infind/GRUPO7/+/conexion","qos":"2","broker":"be1608b4.7596a8","x":164.1999969482422,"y":1253.1998901367188,"wires":[["baf67be1.5b60c8","cd73fa98.78e048","e69b5122.573c1"]]},{"id":"870e8fd4.1ad01","type":"comment","z":"c717c617.e37d98","name":"Estado del dispositivo","info":"","x":155.1999969482422,"y":1180.1998901367188,"wires":[]},{"id":"cd73fa98.78e048","type":"ui_text","z":"c717c617.e37d98","group":"ce288cb2.e6b13","order":5,"width":0,"height":0,"name":"","label":"Estado del dispositivo","format":"{{msg.payload}}","layout":"row-spread","x":761.5,"y":1212.7999877929688,"wires":[]},{"id":"baf67be1.5b60c8","type":"debug","z":"c717c617.e37d98","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":510.20001220703125,"y":1377.1998901367188,"wires":[]},{"id":"e69b5122.573c1","type":"ui_led","z":"c717c617.e37d98","group":"ce288cb2.e6b13","order":6,"width":0,"height":0,"label":"Estado ","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"green","value":"online","valueType":"str"},{"color":"red","value":"offline","valueType":"str"}],"allowColorForValueInMessage":false,"name":"Color LED","x":736.2000122070312,"y":1289.1998901367188,"wires":[]},{"id":"a1ab1dfb.ea874","type":"ui_slider","z":"c717c617.e37d98","name":"","label":"Limite velocidad (% / 10ms)","tooltip":"","group":"ce288cb2.e6b13","order":4,"width":0,"height":0,"passthru":true,"outs":"end","topic":"infind/GRUPO7/+/led/cmd","min":"1","max":"5","step":"1","x":180,"y":831,"wires":[["34164788.f7f648","f7910924.611f98"]]},{"id":"51ab242d.e4eb5c","type":"comment","z":"c717c617.e37d98","name":"Slider para velocidad de cambio de Intensidad de LED","info":"","x":246,"y":767,"wires":[]},{"id":"34164788.f7f648","type":"ui_text","z":"c717c617.e37d98","group":"ce288cb2.e6b13","order":2,"width":0,"height":0,"name":"","label":"Velocidad de cambio","format":"{{msg.payload}}","layout":"col-center","x":464,"y":808,"wires":[]},{"id":"f7910924.611f98","type":"function","z":"c717c617.e37d98","name":"Convertir valor a JSON (speed)","func":"\nmsg.payload = {\"speed\": msg.payload};\nreturn msg;","outputs":1,"noerr":0,"x":479,"y":853,"wires":[["e7223517.7c3778"]]},{"id":"e7223517.7c3778","type":"function","z":"c717c617.e37d98","name":"Seleccionador de Topic","func":"msg.topic=\"infind/GRUPO7/led/cmd\";\nreturn msg;","outputs":1,"noerr":0,"x":769,"y":787,"wires":[["30a37b0e.5f80f4"]]},{"id":"be1608b4.7596a8","type":"mqtt-broker","z":"","name":"iot placa MQTT","broker":"127.0.0.1","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"1b169b96.c5f0c4","type":"ui_group","z":"","name":"Datos","tab":"968bb436.d46b28","order":1,"disp":true,"width":"7","collapse":false},{"id":"d4e4aee3.f3f9d","type":"ui_group","z":"","name":"Gráfica (Temperatura, Humedad)","tab":"968bb436.d46b28","order":2,"disp":true,"width":"8","collapse":false},{"id":"43960519.85193c","type":"ui_group","z":"","name":"Datos WIFI y ESP8266","tab":"968bb436.d46b28","order":3,"disp":true,"width":"6","collapse":false},{"id":"ce288cb2.e6b13","type":"ui_group","z":"","name":"Control LED","tab":"968bb436.d46b28","order":4,"disp":true,"width":"8","collapse":false},{"id":"968bb436.d46b28","type":"ui_tab","z":"","name":"Tarea en grupo 1","icon":"dashboard","order":7,"disabled":false,"hidden":false}]