mqtt/Flujo_trabajo_grupo_IoT.json
[{"id":"c606ec01.b5f5d8","type":"tab","label":"Flow 5","disabled":false,"info":""},{"id":"642cd902.950ce8","type":"mqtt in","z":"c606ec01.b5f5d8","name":"","topic":"infind/GRUPO7/datos","qos":"2","broker":"fc5c9554.5f0878","x":159.20001220703125,"y":139.1999969482422,"wires":[["7afc6bee.a43acc"]]},{"id":"a7843877.1e5","type":"mqtt out","z":"c606ec01.b5f5d8","name":"","topic":"infind/GRUPO7/led/cmd","qos":"1","retain":"","broker":"fc5c9554.5f0878","x":779.2000122070312,"y":808.2000122070312,"wires":[]},{"id":"cf8ae93c.d4f1a","type":"mqtt in","z":"c606ec01.b5f5d8","name":"","topic":"infind/GRUPO7/led/status","qos":"2","broker":"fc5c9554.5f0878","x":170.20001220703125,"y":1074.1998901367188,"wires":[["eafc7535.3e054"]]},{"id":"eafc7535.3e054","type":"debug","z":"c606ec01.b5f5d8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":463.20001220703125,"y":1077.1998901367188,"wires":[]},{"id":"7cda7861.b8413","type":"ui_gauge","z":"c606ec01.b5f5d8","name":"","group":"7fc678fd.ea0808","order":2,"width":0,"height":0,"gtype":"gage","title":"Temperatura","label":"ºC","format":"{{payload.DHT11.temp}}","min":"-10","max":"45","colors":["#0033ff","#22fc03","#ca3838"],"seg1":"","seg2":"","x":643.2000122070312,"y":39.19999694824219,"wires":[]},{"id":"ea9ca472.70dd38","type":"ui_gauge","z":"c606ec01.b5f5d8","name":"","group":"7fc678fd.ea0808","order":2,"width":0,"height":0,"gtype":"wave","title":"Humedad","label":"%","format":"{{payload.DHT11.hum}}","min":0,"max":"100","colors":["#8ddbf1","#264ad9","#011bfe"],"seg1":"","seg2":"","x":643.2000122070312,"y":88.19999694824219,"wires":[]},{"id":"1d6f00e9.24c3b7","type":"comment","z":"c606ec01.b5f5d8","name":"Recuperación de datos","info":"","x":170.49998474121094,"y":57.59999084472656,"wires":[]},{"id":"7afc6bee.a43acc","type":"json","z":"c606ec01.b5f5d8","name":"","property":"payload","action":"","pretty":false,"x":377.20001220703125,"y":139.1999969482422,"wires":[["7cda7861.b8413","ea9ca472.70dd38","f15c3ef8.99fd9","99b8669.0792798","8107c429.73ca38","5f86cab5.31d7d4","a3431afb.9fa3f8","94d2ccbe.c5472","d206f841.6d786"]]},{"id":"f15c3ef8.99fd9","type":"function","z":"c606ec01.b5f5d8","name":"Split","func":"var msg1 = {};\nvar msg2 = {};\n\nmsg1.payload=msg.payload.DHT11.temp;\nmsg1.topic = \"Temperatura\";\nmsg2.payload=msg.payload.DHT11.hum;\nmsg2.topic=\"Humedad\";\nreturn [msg1,msg2];","outputs":2,"noerr":0,"x":580,"y":153.99998474121094,"wires":[["7e21fed5.60f868"],["7e21fed5.60f868"]]},{"id":"7e21fed5.60f868","type":"ui_chart","z":"c606ec01.b5f5d8","name":"","group":"2a20478b.4ebe7","order":0,"width":"0","height":"0","label":"Temperatura-Humedad","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"10","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":820,"y":153.99998474121094,"wires":[[],[]]},{"id":"99b8669.0792798","type":"template","z":"c606ec01.b5f5d8","name":"lista en formato html","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":" <h3>Datos de Wifi: </h3>\n ","output":"str","x":649,"y":230.99998474121094,"wires":[["605bd712.4297e8"]]},{"id":"605bd712.4297e8","type":"ui_template","z":"c606ec01.b5f5d8","group":"2a3ede74.1440da","name":"Datos de Wifi","order":1,"width":"6","height":"1","format":"<div ng-bind-html=\"msg.payload\"></div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":866,"y":232.99998474121094,"wires":[[]]},{"id":"5f86cab5.31d7d4","type":"template","z":"c606ec01.b5f5d8","name":"Titulo html","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":" <h3>ES8266: </h3>\n","output":"str","x":580,"y":297,"wires":[["9ff34f08.1c4f68"]]},{"id":"1c847e54.a09542","type":"comment","z":"c606ec01.b5f5d8","name":"Slider para intensidad de LED","info":"","x":176,"y":644,"wires":[]},{"id":"5370d621.2bb658","type":"ui_slider","z":"c606ec01.b5f5d8","name":"","label":"Limite Intensidad (%)","tooltip":"","group":"60d57e9b.a8f45","order":2,"width":0,"height":0,"passthru":true,"outs":"end","topic":"infind/GRUPO7/led/cmd","min":"0","max":"100","step":"1","x":154,"y":809,"wires":[["6fc0b279.b77754","924d140d.3e6048"]]},{"id":"6fc0b279.b77754","type":"function","z":"c606ec01.b5f5d8","name":"Convertir valor a JSON (level)","func":"\nmsg.payload = {\"level\": msg.payload};\nreturn msg;","outputs":1,"noerr":0,"x":466,"y":808,"wires":[["a7843877.1e5"]]},{"id":"924d140d.3e6048","type":"ui_text","z":"c606ec01.b5f5d8","group":"60d57e9b.a8f45","order":1,"width":0,"height":0,"name":"","label":"Intensidad de luz","format":"{{msg.payload}}","layout":"col-center","x":390,"y":733,"wires":[]},{"id":"8107c429.73ca38","type":"function","z":"c606ec01.b5f5d8","name":"Conversión mV a V y mS a S","func":"\nmsg.payload.Uptime = Math.trunc(msg.payload.Uptime/1000);\nmsg.payload.Voltaje = msg.payload.Voltaje/1000;\nreturn msg;","outputs":1,"noerr":0,"x":466,"y":493,"wires":[["c6410df7.4f6f1","328cf4ce.33992c","699985b8.568f04"]]},{"id":"c6410df7.4f6f1","type":"ui_text","z":"c606ec01.b5f5d8","group":"2a3ede74.1440da","order":6,"width":0,"height":0,"name":"","label":"Tiempo online:","format":"{{msg.payload.Uptime}} segundos","layout":"row-spread","x":770.5,"y":477.79998779296875,"wires":[]},{"id":"328cf4ce.33992c","type":"ui_text","z":"c606ec01.b5f5d8","group":"2a3ede74.1440da","order":7,"width":0,"height":0,"name":"","label":"Voltaje","format":"{{msg.payload.Voltaje}} voltios","layout":"row-spread","x":773.5,"y":525.7999877929688,"wires":[]},{"id":"699985b8.568f04","type":"ui_gauge","z":"c606ec01.b5f5d8","name":"","group":"2a3ede74.1440da","order":8,"width":0,"height":0,"gtype":"gage","title":"Voltaje","label":"Vcc","format":"{{payload.Voltaje}}","min":"0","max":"3.3","colors":["#0033ff","#22fc03","#ca3838"],"seg1":"","seg2":"","x":770.2000122070312,"y":572.2000122070312,"wires":[]},{"id":"9ff34f08.1c4f68","type":"ui_template","z":"c606ec01.b5f5d8","group":"2a3ede74.1440da","name":"Titulo ESP8266","order":5,"width":"6","height":"1","format":"<div ng-bind-html=\"msg.payload\"></div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":829.2000122070312,"y":298.20001220703125,"wires":[[]]},{"id":"d206f841.6d786","type":"ui_text","z":"c606ec01.b5f5d8","group":"2a3ede74.1440da","order":2,"width":0,"height":0,"name":"","label":"SSID","format":"{{msg.payload.Wifi.SSID}}","layout":"row-spread","x":559.5,"y":347.79998779296875,"wires":[]},{"id":"94d2ccbe.c5472","type":"ui_text","z":"c606ec01.b5f5d8","group":"2a3ede74.1440da","order":3,"width":0,"height":0,"name":"","label":"IP Local","format":"{{msg.payload.Wifi.IP}}","layout":"row-spread","x":565.5,"y":396.79998779296875,"wires":[]},{"id":"a3431afb.9fa3f8","type":"ui_text","z":"c606ec01.b5f5d8","group":"2a3ede74.1440da","order":4,"width":0,"height":0,"name":"","label":"RSS","format":"{{msg.payload.Wifi.RSSI}}","layout":"row-spread","x":548.5,"y":444.79998779296875,"wires":[]},{"id":"4d475fe9.1b733","type":"comment","z":"c606ec01.b5f5d8","name":"Último mensaje recibido","info":"","x":149.1999969482422,"y":909.2000122070312,"wires":[]},{"id":"c9f99a71.feb53","type":"ui_text","z":"c606ec01.b5f5d8","group":"60d57e9b.a8f45","order":2,"width":0,"height":0,"name":"","label":"Último dato recibido","format":"{{msg.payload.Hora}}","layout":"col-center","x":791.5,"y":967.7999877929688,"wires":[]},{"id":"68b01159.57332","type":"function","z":"c606ec01.b5f5d8","name":"Hora","func":"var d = new Date();\nvar mes = d.getMonth()+1;\nvar time = d.getHours() + \":\" + d.getMinutes() + \":\" + d.getSeconds() + \" \" + \"(\" + d.getUTCDate() + \"/\" + mes + \"/\" + d.getFullYear() + \")\";\nmsg.payload.Hora = time;\nreturn msg;","outputs":1,"noerr":0,"x":564.2000122070312,"y":960.2000122070312,"wires":[["c9f99a71.feb53"]]},{"id":"3038a912.bc6bae","type":"mqtt in","z":"c606ec01.b5f5d8","name":"","topic":"infind/GRUPO7/datos","qos":"2","broker":"fc5c9554.5f0878","x":150.1999969482422,"y":978.2000122070312,"wires":[["d459226.0a2826"]]},{"id":"d459226.0a2826","type":"json","z":"c606ec01.b5f5d8","name":"","property":"payload","action":"","pretty":false,"x":401.20001220703125,"y":951.2000122070312,"wires":[["68b01159.57332"]]},{"id":"663c1e1a.73698","type":"mqtt in","z":"c606ec01.b5f5d8","name":"","topic":"infind/GRUPO7/conexion","qos":"2","broker":"fc5c9554.5f0878","x":164.1999969482422,"y":1253.1998901367188,"wires":[["4f24c588.3338bc","ad2e777.7509008","93b35c4.19cf52"]]},{"id":"274fc6de.cc334a","type":"comment","z":"c606ec01.b5f5d8","name":"Estado del dispositivo","info":"","x":155.1999969482422,"y":1180.1998901367188,"wires":[]},{"id":"ad2e777.7509008","type":"ui_text","z":"c606ec01.b5f5d8","group":"60d57e9b.a8f45","order":3,"width":0,"height":0,"name":"","label":"Estado del dispositivo","format":"{{msg.payload}}","layout":"row-spread","x":761.5,"y":1212.7999877929688,"wires":[]},{"id":"4f24c588.3338bc","type":"debug","z":"c606ec01.b5f5d8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":510.20001220703125,"y":1377.1998901367188,"wires":[]},{"id":"93b35c4.19cf52","type":"ui_led","z":"c606ec01.b5f5d8","group":"60d57e9b.a8f45","order":4,"width":0,"height":0,"label":"Estado ","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"green","value":"online","valueType":"str"},{"color":"red","value":"offline","valueType":"str"}],"allowColorForValueInMessage":false,"name":"Color LED","x":736.2000122070312,"y":1289.1998901367188,"wires":[]},{"id":"91c42540.137628","type":"mqtt out","z":"c606ec01.b5f5d8","name":"","topic":"infind/GRUPO7/ESP418957/FOTA","qos":"","retain":"","broker":"fc5c9554.5f0878","x":1013.5,"y":1459,"wires":[]},{"id":"366114c9.cbae5c","type":"ui_button","z":"c606ec01.b5f5d8","name":"Actualizar","group":"60d57e9b.a8f45","order":6,"width":"0","height":"0","passthru":false,"label":"Actualizar Dispositivo","tooltip":"","color":"","bgcolor":"","icon":"","payload":"1","payloadType":"json","topic":"","x":134.5,"y":1496,"wires":[["83ca59fd.f876e","91c42540.137628"]]},{"id":"83ca59fd.f876e","type":"debug","z":"c606ec01.b5f5d8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":614.5,"y":1641,"wires":[]},{"id":"fc5c9554.5f0878","type":"mqtt-broker","z":"","name":"Raspbian","broker":"192.168.1.143","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""},{"id":"7fc678fd.ea0808","type":"ui_group","z":"","name":"Datos","tab":"ab8a12b.fa9a4f","order":1,"disp":true,"width":"7","collapse":false},{"id":"2a20478b.4ebe7","type":"ui_group","z":"","name":"Gráfica (Temperatura, Humedad)","tab":"ab8a12b.fa9a4f","order":2,"disp":true,"width":"8","collapse":false},{"id":"2a3ede74.1440da","type":"ui_group","z":"","name":"Datos WIFI y ESP8266","tab":"ab8a12b.fa9a4f","order":3,"disp":true,"width":"6","collapse":false},{"id":"60d57e9b.a8f45","type":"ui_group","z":"","name":"Control LED","tab":"ab8a12b.fa9a4f","order":4,"disp":true,"width":"8","collapse":false},{"id":"ab8a12b.fa9a4f","type":"ui_tab","z":"","name":"Tarea en grupo 1","icon":"dashboard","order":7,"disabled":false,"hidden":false}]