mqtt/Flujo_Global_ MM_27122020.json
[{"id":"f7fdb85f.d74258","type":"tab","label":"Flow 5","disabled":false,"info":""},{"id":"55ea05c0.5ed1bc","type":"mqtt in","z":"f7fdb85f.d74258","name":"","topic":"infind/GRUPO7/+/datos","qos":"2","broker":"8cd95769.548a18","x":159.20001220703125,"y":139.1999969482422,"wires":[["cc484201.a96c98"]]},{"id":"e2bf2dfe.cb40f8","type":"mqtt out","z":"f7fdb85f.d74258","name":"","topic":"","qos":"1","retain":"","broker":"8cd95769.548a18","x":1173.199951171875,"y":773.2000122070312,"wires":[]},{"id":"eca4910f.b6811","type":"mqtt in","z":"f7fdb85f.d74258","name":"","topic":"infind/GRUPO7/led/status","qos":"2","broker":"8cd95769.548a18","x":170.20001220703125,"y":1074.1998901367188,"wires":[["37d9beed.ff7b8a"]]},{"id":"37d9beed.ff7b8a","type":"debug","z":"f7fdb85f.d74258","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":512.2000122070312,"y":1076.199951171875,"wires":[]},{"id":"62f6b2a0.6521e4","type":"ui_gauge","z":"f7fdb85f.d74258","name":"","group":"f982eda5.76bda","order":2,"width":0,"height":0,"gtype":"gage","title":"Temperatura","label":"ºC","format":"{{payload.DHT11.temp}}","min":"-10","max":"45","colors":["#0033ff","#22fc03","#ca3838"],"seg1":"","seg2":"","x":837.2000122070312,"y":30.199996948242188,"wires":[]},{"id":"f9f97feb.dfc65","type":"ui_gauge","z":"f7fdb85f.d74258","name":"","group":"f982eda5.76bda","order":2,"width":0,"height":0,"gtype":"wave","title":"Humedad","label":"%","format":"{{payload.DHT11.hum}}","min":0,"max":"100","colors":["#8ddbf1","#264ad9","#011bfe"],"seg1":"","seg2":"","x":837.2000122070312,"y":79.19999694824219,"wires":[]},{"id":"67295f58.b8849","type":"comment","z":"f7fdb85f.d74258","name":"Recuperación de datos","info":"","x":170.49998474121094,"y":57.59999084472656,"wires":[]},{"id":"46c0b04b.a133c","type":"json","z":"f7fdb85f.d74258","name":"","property":"payload","action":"","pretty":false,"x":605.2000122070312,"y":130.1999969482422,"wires":[["62f6b2a0.6521e4","f9f97feb.dfc65","b37155ca.3a951","faa4c068.5f91c8","b85376aa.0c0b3","fe19db49.9a8048","cf8201e.af7038","682d7628.1d4228","12d01054.607428"]]},{"id":"b37155ca.3a951","type":"function","z":"f7fdb85f.d74258","name":"Split","func":"var msg1 = {};\nvar msg2 = {};\n\nmsg1.payload=msg.payload.DHT11.temp;\nmsg1.topic = \"Temperatura\";\nmsg2.payload=msg.payload.DHT11.hum;\nmsg2.topic=\"Humedad\";\nreturn [msg1,msg2];","outputs":2,"noerr":0,"x":774,"y":144.99998474121094,"wires":[["6d159574.d96cf4"],["6d159574.d96cf4"]]},{"id":"6d159574.d96cf4","type":"ui_chart","z":"f7fdb85f.d74258","name":"","group":"258304e0.7f0dec","order":0,"width":"0","height":"0","label":"Temperatura-Humedad","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"10","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":1014,"y":144.99998474121094,"wires":[[],[]]},{"id":"faa4c068.5f91c8","type":"template","z":"f7fdb85f.d74258","name":"lista en formato html","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":" <h3>Datos de Wifi: </h3>\n ","output":"str","x":843,"y":221.99998474121094,"wires":[["954699db.8d01f"]]},{"id":"954699db.8d01f","type":"ui_template","z":"f7fdb85f.d74258","group":"98dc7b27.e54748","name":"Datos de Wifi","order":1,"width":"6","height":"1","format":"<div ng-bind-html=\"msg.payload\"></div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":1060,"y":223.99998474121094,"wires":[[]]},{"id":"fe19db49.9a8048","type":"template","z":"f7fdb85f.d74258","name":"Titulo html","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":" <h3>ESP8266: </h3>\n","output":"str","x":774,"y":288,"wires":[["9faa4ecd.5c326"]]},{"id":"756d4a60.4bf384","type":"comment","z":"f7fdb85f.d74258","name":"Slider para intensidad de LED","info":"","x":168,"y":581,"wires":[]},{"id":"19431015.8085d8","type":"ui_slider","z":"f7fdb85f.d74258","name":"","label":"Limite Intensidad (%)","tooltip":"","group":"c5b86ef4.d7f448","order":3,"width":0,"height":0,"passthru":true,"outs":"end","topic":"infind/GRUPO7/led/cmd","min":"0","max":"100","step":"1","x":168,"y":702,"wires":[["8b0241b8.e0c7b8","21bf819c.6ac35e"]]},{"id":"8b0241b8.e0c7b8","type":"function","z":"f7fdb85f.d74258","name":"Convertir valor a JSON (level)","func":"\nmsg.payload = {\"level\": msg.payload};\nreturn msg;","outputs":1,"noerr":0,"x":457,"y":703,"wires":[["40e333b1.4341bc"]]},{"id":"21bf819c.6ac35e","type":"ui_text","z":"f7fdb85f.d74258","group":"c5b86ef4.d7f448","order":1,"width":0,"height":0,"name":"","label":"Intensidad de luz","format":"{{msg.payload}}","layout":"col-center","x":420,"y":643,"wires":[]},{"id":"b85376aa.0c0b3","type":"function","z":"f7fdb85f.d74258","name":"Conversión mV a V y mS a S","func":"\nmsg.payload.Uptime = Math.trunc(msg.payload.Uptime/1000);\nmsg.payload.Voltaje = msg.payload.Voltaje/1000;\nreturn msg;","outputs":1,"noerr":0,"x":660,"y":484,"wires":[["68426d4c.de6374","e8ff49b9.27be78","1b487364.3e4e8d"]]},{"id":"68426d4c.de6374","type":"ui_text","z":"f7fdb85f.d74258","group":"98dc7b27.e54748","order":7,"width":0,"height":0,"name":"","label":"Tiempo online:","format":"{{msg.payload.Uptime}} segundos","layout":"row-spread","x":964.5,"y":468.79998779296875,"wires":[]},{"id":"e8ff49b9.27be78","type":"ui_text","z":"f7fdb85f.d74258","group":"98dc7b27.e54748","order":8,"width":0,"height":0,"name":"","label":"Voltaje","format":"{{msg.payload.Voltaje}} voltios","layout":"row-spread","x":967.5,"y":516.7999877929688,"wires":[]},{"id":"1b487364.3e4e8d","type":"ui_gauge","z":"f7fdb85f.d74258","name":"","group":"98dc7b27.e54748","order":9,"width":0,"height":0,"gtype":"gage","title":"Voltaje","label":"Vcc","format":"{{payload.Voltaje}}","min":"0","max":"3.3","colors":["#0033ff","#22fc03","#ca3838"],"seg1":"","seg2":"","x":964.2000122070312,"y":563.2000122070312,"wires":[]},{"id":"9faa4ecd.5c326","type":"ui_template","z":"f7fdb85f.d74258","group":"98dc7b27.e54748","name":"Titulo ESP8266","order":5,"width":"6","height":"1","format":"<div ng-bind-html=\"msg.payload\"></div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":1023.2000122070312,"y":289.20001220703125,"wires":[[]]},{"id":"12d01054.607428","type":"ui_text","z":"f7fdb85f.d74258","group":"98dc7b27.e54748","order":2,"width":0,"height":0,"name":"","label":"SSID","format":"{{msg.payload.Wifi.SSID}}","layout":"row-spread","x":753.5,"y":338.79998779296875,"wires":[]},{"id":"682d7628.1d4228","type":"ui_text","z":"f7fdb85f.d74258","group":"98dc7b27.e54748","order":3,"width":0,"height":0,"name":"","label":"IP Local","format":"{{msg.payload.Wifi.IP}}","layout":"row-spread","x":759.5,"y":387.79998779296875,"wires":[]},{"id":"cf8201e.af7038","type":"ui_text","z":"f7fdb85f.d74258","group":"98dc7b27.e54748","order":4,"width":0,"height":0,"name":"","label":"RSS","format":"{{msg.payload.Wifi.RSSI}}","layout":"row-spread","x":742.5,"y":435.79998779296875,"wires":[]},{"id":"7d93279.ea710d8","type":"comment","z":"f7fdb85f.d74258","name":"Último mensaje recibido","info":"","x":149.1999969482422,"y":909.2000122070312,"wires":[]},{"id":"d1008a7.5a97df8","type":"ui_text","z":"f7fdb85f.d74258","group":"c5b86ef4.d7f448","order":7,"width":0,"height":0,"name":"","label":"Último dato recibido","format":"{{msg.payload.Hora}}","layout":"col-center","x":1136.5,"y":974.7999877929688,"wires":[]},{"id":"c09bfd49.ca1a88","type":"function","z":"f7fdb85f.d74258","name":"Hora","func":"var d = new Date();\nvar mes = d.getMonth()+1;\nvar time = d.getHours() + \":\" + d.getMinutes() + \":\" + d.getSeconds() + \" \" + \"(\" + d.getUTCDate() + \"/\" + mes + \"/\" + d.getFullYear() + \")\";\nmsg.payload.Hora = time;\nreturn msg;","outputs":1,"noerr":0,"x":909.2000122070312,"y":967.2000122070312,"wires":[["d1008a7.5a97df8"]]},{"id":"76e67d8f.339f54","type":"mqtt in","z":"f7fdb85f.d74258","name":"","topic":"infind/GRUPO7/+/datos","qos":"2","broker":"8cd95769.548a18","x":150.1999969482422,"y":978.2000122070312,"wires":[["aa4ec85f.f21b68"]]},{"id":"c64b3c92.83d328","type":"json","z":"f7fdb85f.d74258","name":"","property":"payload","action":"","pretty":false,"x":785.2000122070312,"y":981.2000122070312,"wires":[["c09bfd49.ca1a88"]]},{"id":"174e04a8.3dbd13","type":"mqtt in","z":"f7fdb85f.d74258","name":"","topic":"infind/GRUPO7/+/conexion","qos":"2","broker":"8cd95769.548a18","x":174.1999969482422,"y":1253.1998901367188,"wires":[["15a06fe3.397598","23eec51d.09338a","f647e1d0.1d116"]]},{"id":"17bf0759.58d4b1","type":"comment","z":"f7fdb85f.d74258","name":"Estado del dispositivo","info":"","x":155.1999969482422,"y":1180.1998901367188,"wires":[]},{"id":"aa2f5793.188488","type":"ui_text","z":"f7fdb85f.d74258","group":"c5b86ef4.d7f448","order":5,"width":0,"height":0,"name":"","label":"Estado del dispositivo","format":"{{msg.payload}}","layout":"row-spread","x":1289.5,"y":1205.7999267578125,"wires":[]},{"id":"c59c6ba3.a68048","type":"ui_led","z":"f7fdb85f.d74258","group":"c5b86ef4.d7f448","order":6,"width":0,"height":0,"label":"Estado ","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"green","value":"Encendida","valueType":"str"},{"color":"red","value":"Apagada","valueType":"str"}],"allowColorForValueInMessage":false,"name":"Color LED","x":1263.199951171875,"y":1269.199951171875,"wires":[]},{"id":"4f23427e.994b9c","type":"ui_slider","z":"f7fdb85f.d74258","name":"","label":"Limite velocidad (% / 10ms)","tooltip":"","group":"c5b86ef4.d7f448","order":4,"width":0,"height":0,"passthru":true,"outs":"end","topic":"infind/GRUPO7/led/cmd","min":"1","max":"5","step":"1","x":180,"y":831,"wires":[["d6ac5b23.cc813","e021ae58.01a06"]]},{"id":"9c23369d.b5c0f","type":"comment","z":"f7fdb85f.d74258","name":"Slider para velocidad de cambio de Intensidad de LED","info":"","x":246,"y":767,"wires":[]},{"id":"d6ac5b23.cc813","type":"ui_text","z":"f7fdb85f.d74258","group":"c5b86ef4.d7f448","order":2,"width":0,"height":0,"name":"","label":"Velocidad de cambio","format":"{{msg.payload}}","layout":"col-center","x":464,"y":808,"wires":[]},{"id":"e021ae58.01a06","type":"function","z":"f7fdb85f.d74258","name":"Convertir valor a JSON (speed)","func":"\nmsg.payload = {\"speed\": msg.payload};\nreturn msg;","outputs":1,"noerr":0,"x":479,"y":853,"wires":[["40e333b1.4341bc"]]},{"id":"c252b9a0.cfe708","type":"mqtt out","z":"f7fdb85f.d74258","name":"","topic":"","qos":"","retain":"","broker":"fc5c9554.5f0878","x":602,"y":1515,"wires":[]},{"id":"f90c3da0.0b51d8","type":"ui_button","z":"f7fdb85f.d74258","name":"Actualizar","group":"c5b86ef4.d7f448","order":6,"width":"0","height":"0","passthru":false,"label":"Actualizar Dispositivo","tooltip":"","color":"","bgcolor":"","icon":"","payload":"1","payloadType":"json","topic":"","x":125,"y":1511,"wires":[["e84b60fe.cce9","f2323e52.330cf"]]},{"id":"e84b60fe.cce9","type":"debug","z":"f7fdb85f.d74258","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":605,"y":1656,"wires":[]},{"id":"606569d6.9ab96","type":"debug","z":"f7fdb85f.d74258","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1225.8333740234375,"y":2193,"wires":[]},{"id":"f5dbd0f1.e4eb78","type":"mongodb out","z":"f7fdb85f.d74258","mongodb":"b813068f.482f3","name":"Insertar ESP en la Lista","collection":"lista_esp","payonly":true,"upsert":false,"multi":false,"operation":"store","x":537.772705078125,"y":1852.7669677734375,"wires":[]},{"id":"3d6f9032.cd9ba8","type":"comment","z":"f7fdb85f.d74258","name":"Insertar la ESP en la base de datos","info":"sólo el payload\nantes le añadimos la fecha","x":165.99998474121094,"y":1782.0000190734863,"wires":[]},{"id":"f647e1d0.1d116","type":"json","z":"f7fdb85f.d74258","name":"","property":"payload","action":"","pretty":false,"x":782.5,"y":1240,"wires":[["25b61257.6d648e"]]},{"id":"25b61257.6d648e","type":"function","z":"f7fdb85f.d74258","name":"Extraer el estado Online","func":"if(msg.payload.Online){\n    msg.payload = \"Encendida\";\n}else{\n    msg.payload = \"Apagada\";\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":1003.5,"y":1246,"wires":[["c59c6ba3.a68048","aa2f5793.188488"]]},{"id":"cb543fe6.b9893","type":"link out","z":"f7fdb85f.d74258","name":"Datos Conexion","links":["e23fb069.07f5e"],"x":803.5,"y":1319,"wires":[]},{"id":"e23fb069.07f5e","type":"link in","z":"f7fdb85f.d74258","name":"","links":["cb543fe6.b9893"],"x":165.5,"y":1853,"wires":[["325e793a.349d66","f52f4de2.5a0c6"]]},{"id":"f2763c20.7db8c8","type":"mongodb out","z":"f7fdb85f.d74258","mongodb":"b813068f.482f3","name":"Borrado de la ESP de la lista","collection":"lista_esp","payonly":true,"upsert":false,"multi":false,"operation":"delete","x":791,"y":1942,"wires":[]},{"id":"325e793a.349d66","type":"switch","z":"f7fdb85f.d74258","name":"","property":"payload.Online","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":283.5,"y":1854,"wires":[["f5dbd0f1.e4eb78"],["934c9182.2d77","70f0c99.2abfeb8"]]},{"id":"19c2c5d2.efcb92","type":"mongodb in","z":"f7fdb85f.d74258","mongodb":"b813068f.482f3","name":"","collection":"lista_esp","operation":"find","x":442.00006103515625,"y":2137,"wires":[["3841ae53.1684aa"]]},{"id":"1c983f7c.e3f681","type":"inject","z":"f7fdb85f.d74258","name":"","topic":"","payload":"{ }","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":119,"y":2163.3665771484375,"wires":[["19c2c5d2.efcb92"]]},{"id":"f52f4de2.5a0c6","type":"debug","z":"f7fdb85f.d74258","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":249.5,"y":1936,"wires":[]},{"id":"934c9182.2d77","type":"function","z":"f7fdb85f.d74258","name":"Query para Borrar la ESP","func":"msg.payload = {\"ChipID\": msg.payload.ChipID};\nreturn msg;","outputs":1,"noerr":0,"x":521.5,"y":1942,"wires":[["f2763c20.7db8c8"]]},{"id":"96ad892.3b9b978","type":"ui_dropdown","z":"f7fdb85f.d74258","name":"","label":"","tooltip":"","place":"Selecciona una ESP","group":"98dc7b27.e54748","order":6,"width":0,"height":0,"passthru":true,"options":[{"label":"Todas","value":"Todas","type":"str"}],"payload":"","topic":"","x":1009.5,"y":2139,"wires":[["ab8a8226.2d8918","606569d6.9ab96"]],"outputLabels":["oye"]},{"id":"15a06fe3.397598","type":"link out","z":"f7fdb85f.d74258","name":"Conexion Handler","links":["6b047efe.1532b8"],"x":364.5,"y":1368,"wires":[]},{"id":"6b047efe.1532b8","type":"link in","z":"f7fdb85f.d74258","name":"","links":["15a06fe3.397598"],"x":76.5,"y":2082,"wires":[["602a5f68.dcf268"]]},{"id":"3841ae53.1684aa","type":"function","z":"f7fdb85f.d74258","name":"Convertir datos a .options ","func":"var longitud = msg.payload.length;\nmsg.options = [];\n\nif(longitud >0){\n    msg.options[0] = \"Todas\";\n    for(var i = 0; i < longitud; i++){\n        msg.options[i+1] = msg.payload[i].ChipID;\n    }\n    msg.payload = msg.payload[0].ChipID;\n    global.set(\"ESP\",msg.payload);\n}else{\n    msg.options[0] = \"No hay ESPs\";\n}\nreturn msg;","outputs":1,"noerr":0,"x":776.5,"y":2137,"wires":[["96ad892.3b9b978"]]},{"id":"ab8a8226.2d8918","type":"function","z":"f7fdb85f.d74258","name":"Setear Global","func":"global.set(\"ESP\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":1228.5,"y":2141,"wires":[["2d89228b.0a4c9e"]]},{"id":"602a5f68.dcf268","type":"delay","z":"f7fdb85f.d74258","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":178.5,"y":2109,"wires":[["19c2c5d2.efcb92"]]},{"id":"cc484201.a96c98","type":"function","z":"f7fdb85f.d74258","name":"Extraer ESP del Topic","func":"global.set(\"ESP_Actual\",msg.topic.split(\"/\")[2].substr(3));\nif(global.get(\"ESP_Actual\") != global.get(\"ESP\")){\n    global.set(\"ESP_Iguales\",false);\n}else{\n    global.set(\"ESP_Iguales\",true);\n}\nreturn msg;","outputs":1,"noerr":0,"x":396,"y":137,"wires":[["36735f52.d4e7f8"]]},{"id":"36735f52.d4e7f8","type":"switch","z":"f7fdb85f.d74258","name":"","property":"ESP_Iguales","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":508.5,"y":231,"wires":[["46c0b04b.a133c"]]},{"id":"7a85c612.98dc38","type":"function","z":"f7fdb85f.d74258","name":"Extraer ESP del Topic","func":"global.set(\"ESP_Actual\",msg.topic.split(\"/\")[2].substr(3));\nmsg.payload = global.get(\"ESP_Actual\");\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":2328,"wires":[["2554452d.f36b5a"]]},{"id":"4927eab1.b9c1dc","type":"inject","z":"f7fdb85f.d74258","name":"","topic":"infind/GRUPO7/ESP418957/datos","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":111,"y":2329,"wires":[["7a85c612.98dc38"]]},{"id":"2554452d.f36b5a","type":"debug","z":"f7fdb85f.d74258","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":653,"y":2329,"wires":[]},{"id":"9f4fe658.21c808","type":"comment","z":"f7fdb85f.d74258","name":"Zona Testeo","info":"sólo el payload\nantes le añadimos la fecha","x":119,"y":2257,"wires":[]},{"id":"760ac070.b38a58","type":"switch","z":"f7fdb85f.d74258","name":"","property":"ESP_Iguales","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":606.5,"y":990,"wires":[["c64b3c92.83d328"]]},{"id":"aa4ec85f.f21b68","type":"function","z":"f7fdb85f.d74258","name":"Extraer ESP del Topic","func":"global.set(\"ESP_Actual\",msg.topic.split(\"/\")[2].substr(3));\nif(global.get(\"ESP_Actual\") != global.get(\"ESP\")){\n    global.set(\"ESP_Iguales\",false);\n}else{\n    global.set(\"ESP_Iguales\",true);\n}\nreturn msg;","outputs":1,"noerr":0,"x":403,"y":983,"wires":[["760ac070.b38a58"]]},{"id":"40e333b1.4341bc","type":"function","z":"f7fdb85f.d74258","name":"Enviar a la ESP correspondiente","func":"if (global.get(\"ESP_Actual\") == \"Todas\"){\n    var topic = \"infind/GRUPO7/+/led/cmd\";\n}else{\n    var topic = \"infind/GRUPO7/ESP\" + global.get(\"ESP\")+\"/led/cmd\";\n}\nmsg.topic = topic;\nreturn msg;","outputs":1,"noerr":0,"x":904.5,"y":773,"wires":[["e2bf2dfe.cb40f8","6db5c423.83e8a4"]]},{"id":"f2323e52.330cf","type":"function","z":"f7fdb85f.d74258","name":"Enviar a la ESP correspondiente","func":"if (global.get(\"ESP_Actual\") == \"Todas\"){\n    var topic = \"infind/GRUPO7/+/FOTA\";\n}else{\n    var topic = \"infind/GRUPO7/ESP\" + global.get(\"ESP\")+\"/FOTA\";\n}\nmsg.topic = topic;\nreturn msg;","outputs":1,"noerr":0,"x":381,"y":1515,"wires":[["c252b9a0.cfe708"]]},{"id":"6db5c423.83e8a4","type":"debug","z":"f7fdb85f.d74258","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"topic","x":1115.5,"y":871,"wires":[]},{"id":"23eec51d.09338a","type":"json","z":"f7fdb85f.d74258","name":"","property":"payload","action":"","pretty":false,"x":667,"y":1320,"wires":[["cb543fe6.b9893"]]},{"id":"4e4250d7.b34788","type":"comment","z":"f7fdb85f.d74258","name":"Dropdown de ESP's","info":"sólo el payload\nantes le añadimos la fecha","x":123,"y":2019,"wires":[]},{"id":"2d89228b.0a4c9e","type":"link out","z":"f7fdb85f.d74258","name":"Estado Led","links":[],"x":1363.5,"y":2094,"wires":[]},{"id":"d4b39d2b.b7e85","type":"comment","z":"f7fdb85f.d74258","name":"Guardar Logs","info":"sólo el payload\nantes le añadimos la fecha","x":124,"y":2438,"wires":[]},{"id":"33135914.fd478e","type":"mqtt in","z":"f7fdb85f.d74258","name":"","topic":"infind/GRUPO7/+/log","qos":"2","broker":"8cd95769.548a18","x":129,"y":2520,"wires":[["2bbc572e.bf16c","28ea30c2.d02438"]]},{"id":"40c9a66.a7cdb58","type":"mongodb out","z":"f7fdb85f.d74258","mongodb":"b813068f.482f3","name":"Guardar Log del sistema","collection":"log","payonly":true,"upsert":false,"multi":false,"operation":"store","x":812,"y":2515,"wires":[]},{"id":"2bbc572e.bf16c","type":"json","z":"f7fdb85f.d74258","name":"","property":"payload","action":"","pretty":false,"x":365,"y":2520,"wires":[["faf20c20.9df81"]]},{"id":"faf20c20.9df81","type":"function","z":"f7fdb85f.d74258","name":"+ fecha","func":"msg.payload.date = new Date();\nreturn msg;","outputs":1,"noerr":0,"x":533,"y":2519,"wires":[["40c9a66.a7cdb58"]]},{"id":"28ea30c2.d02438","type":"debug","z":"f7fdb85f.d74258","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":424.5,"y":2590,"wires":[]},{"id":"b4a5890c.75021","type":"inject","z":"f7fdb85f.d74258","name":"","topic":"","payload":"{ }","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":109,"y":2687,"wires":[["68a29980.a5869"]]},{"id":"68a29980.a5869","type":"mongodb in","z":"f7fdb85f.d74258","mongodb":"b813068f.482f3","name":"","collection":"log","operation":"find","x":454.00006103515625,"y":2691.633544921875,"wires":[["dc9dbcc0.119728"]]},{"id":"dc9dbcc0.119728","type":"debug","z":"f7fdb85f.d74258","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":787,"y":2689,"wires":[]},{"id":"70f0c99.2abfeb8","type":"link out","z":"f7fdb85f.d74258","name":"Registro Offline","links":["1e906305.044315"],"x":462.5,"y":2029,"wires":[]},{"id":"1e906305.044315","type":"link in","z":"f7fdb85f.d74258","name":"","links":["70f0c99.2abfeb8"],"x":101.5,"y":2861,"wires":[["3228b1ad.c3e7ce"]]},{"id":"3228b1ad.c3e7ce","type":"function","z":"f7fdb85f.d74258","name":"Formatear Mensaje Desconexion","func":"var chipID = msg.payload.ChipID;\nmsg.payload = {\"ChipID\" : chipID, \"Tipo\" : \"Alerta\", \"Mensaje\": \"ESP desconectada de manera prematura\"};\nreturn msg;","outputs":1,"noerr":0,"x":408.5,"y":2864,"wires":[["23dc36c4.37e81a"]]},{"id":"23dc36c4.37e81a","type":"function","z":"f7fdb85f.d74258","name":"+ fecha","func":"msg.payload.date = new Date();\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":2863,"wires":[["40c9a66.a7cdb58"]]},{"id":"8cd95769.548a18","type":"mqtt-broker","z":"","name":"iot placa MQTT","broker":"127.0.0.1","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"f982eda5.76bda","type":"ui_group","z":"","name":"Datos","tab":"a1318937.a31ca","order":1,"disp":true,"width":"7","collapse":false},{"id":"258304e0.7f0dec","type":"ui_group","z":"","name":"Gráfica (Temperatura, Humedad)","tab":"a1318937.a31ca","order":2,"disp":true,"width":"8","collapse":false},{"id":"98dc7b27.e54748","type":"ui_group","z":"","name":"Datos WIFI y ESP8266","tab":"a1318937.a31ca","order":3,"disp":true,"width":"6","collapse":false},{"id":"c5b86ef4.d7f448","type":"ui_group","z":"","name":"Control LED","tab":"a1318937.a31ca","order":4,"disp":true,"width":"8","collapse":false},{"id":"fc5c9554.5f0878","type":"mqtt-broker","z":"","name":"Raspbian","broker":"192.168.1.140","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""},{"id":"b813068f.482f3","type":"mongodb","z":"","hostname":"iot.ac.uma.es","port":"27017","db":"IOT7","name":"Conexion a UMA MongoDB Grupo7"},{"id":"a1318937.a31ca","type":"ui_tab","z":"","name":"Tarea en grupo","icon":"dashboard","order":7,"disabled":false,"hidden":false}]
