mqtt/Flujo_Global_MG_27_12_20_v1.json
[{"id":"d3488f3f.1d041","type":"tab","label":"Flow 5","disabled":false,"info":""},{"id":"70bdd643.173398","type":"mqtt in","z":"d3488f3f.1d041","name":"","topic":"infind/GRUPO7/+/datos","qos":"2","broker":"a503cec5.7c64a","x":159.20001220703125,"y":139.1999969482422,"wires":[["f93b93d9.5cf96"]]},{"id":"539a84f9.e01f9c","type":"mqtt out","z":"d3488f3f.1d041","name":"","topic":"","qos":"1","retain":"","broker":"a503cec5.7c64a","x":1173.199951171875,"y":773.2000122070312,"wires":[]},{"id":"b9167934.a95d98","type":"mqtt in","z":"d3488f3f.1d041","name":"","topic":"infind/GRUPO7/led/status","qos":"2","broker":"a503cec5.7c64a","x":170.20001220703125,"y":1074.1998901367188,"wires":[["da1d6387.94dbe"]]},{"id":"da1d6387.94dbe","type":"debug","z":"d3488f3f.1d041","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":512.2000122070312,"y":1076.199951171875,"wires":[]},{"id":"932a3a79.9699d8","type":"ui_gauge","z":"d3488f3f.1d041","name":"","group":"50d1d1c2.c2d1c","order":2,"width":0,"height":0,"gtype":"gage","title":"Temperatura","label":"ºC","format":"{{payload.DHT11.temp}}","min":"-10","max":"45","colors":["#0033ff","#22fc03","#ca3838"],"seg1":"","seg2":"","x":837.2000122070312,"y":30.199996948242188,"wires":[]},{"id":"3fa7f4ed.e16b5c","type":"ui_gauge","z":"d3488f3f.1d041","name":"","group":"50d1d1c2.c2d1c","order":2,"width":0,"height":0,"gtype":"wave","title":"Humedad","label":"%","format":"{{payload.DHT11.hum}}","min":0,"max":"100","colors":["#8ddbf1","#264ad9","#011bfe"],"seg1":"","seg2":"","x":837.2000122070312,"y":79.19999694824219,"wires":[]},{"id":"f810baa9.423428","type":"comment","z":"d3488f3f.1d041","name":"Recuperación de datos","info":"","x":170.49998474121094,"y":57.59999084472656,"wires":[]},{"id":"60d7f94f.60d1d8","type":"json","z":"d3488f3f.1d041","name":"","property":"payload","action":"","pretty":false,"x":605.2000122070312,"y":130.1999969482422,"wires":[["932a3a79.9699d8","3fa7f4ed.e16b5c","69be13d.b3415ec","10f3e8b0.54b0e7","d6db978e.efaff8","db10411c.82a5e","c18ce85a.8d6648","ed06b614.4d6148","1ad51bf.7c277e4"]]},{"id":"69be13d.b3415ec","type":"function","z":"d3488f3f.1d041","name":"Split","func":"var msg1 = {};\nvar msg2 = {};\n\nmsg1.payload=msg.payload.DHT11.temp;\nmsg1.topic = \"Temperatura\";\nmsg2.payload=msg.payload.DHT11.hum;\nmsg2.topic=\"Humedad\";\nreturn [msg1,msg2];","outputs":2,"noerr":0,"x":774,"y":144.99998474121094,"wires":[["41daf84f.ebcb38"],["41daf84f.ebcb38"]]},{"id":"41daf84f.ebcb38","type":"ui_chart","z":"d3488f3f.1d041","name":"","group":"a8f544ba.a54d38","order":0,"width":"0","height":"0","label":"Temperatura-Humedad","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"10","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":1014,"y":144.99998474121094,"wires":[[],[]]},{"id":"10f3e8b0.54b0e7","type":"template","z":"d3488f3f.1d041","name":"lista en formato html","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":" <h3>Datos de Wifi: </h3>\n ","output":"str","x":843,"y":221.99998474121094,"wires":[["45cd582a.82f358"]]},{"id":"45cd582a.82f358","type":"ui_template","z":"d3488f3f.1d041","group":"55e7615c.3128d","name":"Datos de Wifi","order":1,"width":"6","height":"1","format":"<div ng-bind-html=\"msg.payload\"></div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":1060,"y":223.99998474121094,"wires":[[]]},{"id":"db10411c.82a5e","type":"template","z":"d3488f3f.1d041","name":"Titulo html","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":" <h3>ESP8266: </h3>\n","output":"str","x":774,"y":288,"wires":[["e6b6a025.4bad2"]]},{"id":"a058fe7d.6af72","type":"comment","z":"d3488f3f.1d041","name":"Slider para intensidad de LED","info":"","x":168,"y":581,"wires":[]},{"id":"c832d567.2c7c38","type":"ui_slider","z":"d3488f3f.1d041","name":"","label":"Limite Intensidad (%)","tooltip":"","group":"4836816b.017da","order":3,"width":0,"height":0,"passthru":true,"outs":"end","topic":"infind/GRUPO7/led/cmd","min":"0","max":"100","step":"1","x":168,"y":702,"wires":[["e261bd14.34e25","f3d967b3.205c38"]]},{"id":"e261bd14.34e25","type":"function","z":"d3488f3f.1d041","name":"Convertir valor a JSON (level)","func":"\nmsg.payload = {\"level\": msg.payload};\nreturn msg;","outputs":1,"noerr":0,"x":457,"y":703,"wires":[["bf487ac1.87bf38"]]},{"id":"f3d967b3.205c38","type":"ui_text","z":"d3488f3f.1d041","group":"4836816b.017da","order":1,"width":0,"height":0,"name":"","label":"Intensidad de luz","format":"{{msg.payload}}","layout":"col-center","x":420,"y":643,"wires":[]},{"id":"d6db978e.efaff8","type":"function","z":"d3488f3f.1d041","name":"Conversión mV a V y mS a S","func":"\nmsg.payload.Uptime = Math.trunc(msg.payload.Uptime/1000);\nmsg.payload.Voltaje = msg.payload.Voltaje/1000;\nreturn msg;","outputs":1,"noerr":0,"x":660,"y":484,"wires":[["b7022d24.4a9d2","cc0a9f5b.da1fc","38257487.23d11c"]]},{"id":"b7022d24.4a9d2","type":"ui_text","z":"d3488f3f.1d041","group":"55e7615c.3128d","order":7,"width":0,"height":0,"name":"","label":"Tiempo online:","format":"{{msg.payload.Uptime}} segundos","layout":"row-spread","x":964.5,"y":468.79998779296875,"wires":[]},{"id":"cc0a9f5b.da1fc","type":"ui_text","z":"d3488f3f.1d041","group":"55e7615c.3128d","order":8,"width":0,"height":0,"name":"","label":"Voltaje","format":"{{msg.payload.Voltaje}} voltios","layout":"row-spread","x":967.5,"y":516.7999877929688,"wires":[]},{"id":"38257487.23d11c","type":"ui_gauge","z":"d3488f3f.1d041","name":"","group":"55e7615c.3128d","order":9,"width":0,"height":0,"gtype":"gage","title":"Voltaje","label":"Vcc","format":"{{payload.Voltaje}}","min":"0","max":"3.3","colors":["#0033ff","#22fc03","#ca3838"],"seg1":"","seg2":"","x":964.2000122070312,"y":563.2000122070312,"wires":[]},{"id":"e6b6a025.4bad2","type":"ui_template","z":"d3488f3f.1d041","group":"55e7615c.3128d","name":"Titulo ESP8266","order":5,"width":"6","height":"1","format":"<div ng-bind-html=\"msg.payload\"></div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":1023.2000122070312,"y":289.20001220703125,"wires":[[]]},{"id":"1ad51bf.7c277e4","type":"ui_text","z":"d3488f3f.1d041","group":"55e7615c.3128d","order":2,"width":0,"height":0,"name":"","label":"SSID","format":"{{msg.payload.Wifi.SSID}}","layout":"row-spread","x":753.5,"y":338.79998779296875,"wires":[]},{"id":"ed06b614.4d6148","type":"ui_text","z":"d3488f3f.1d041","group":"55e7615c.3128d","order":3,"width":0,"height":0,"name":"","label":"IP Local","format":"{{msg.payload.Wifi.IP}}","layout":"row-spread","x":759.5,"y":387.79998779296875,"wires":[]},{"id":"c18ce85a.8d6648","type":"ui_text","z":"d3488f3f.1d041","group":"55e7615c.3128d","order":4,"width":0,"height":0,"name":"","label":"RSS","format":"{{msg.payload.Wifi.RSSI}}","layout":"row-spread","x":742.5,"y":435.79998779296875,"wires":[]},{"id":"1cef1661.adcd9a","type":"comment","z":"d3488f3f.1d041","name":"Último mensaje recibido","info":"","x":149.1999969482422,"y":909.2000122070312,"wires":[]},{"id":"9111f699.53ba28","type":"ui_text","z":"d3488f3f.1d041","group":"4836816b.017da","order":7,"width":0,"height":0,"name":"","label":"Último dato recibido","format":"{{msg.payload.Hora}}","layout":"col-center","x":1136.5,"y":974.7999877929688,"wires":[]},{"id":"b57ae871.5321b8","type":"function","z":"d3488f3f.1d041","name":"Hora","func":"var d = new Date();\nvar mes = d.getMonth()+1;\nvar time = d.getHours() + \":\" + d.getMinutes() + \":\" + d.getSeconds() + \" \" + \"(\" + d.getUTCDate() + \"/\" + mes + \"/\" + d.getFullYear() + \")\";\nmsg.payload.Hora = time;\nreturn msg;","outputs":1,"noerr":0,"x":909.2000122070312,"y":967.2000122070312,"wires":[["9111f699.53ba28"]]},{"id":"de22c5f4.b56f38","type":"mqtt in","z":"d3488f3f.1d041","name":"","topic":"infind/GRUPO7/+/datos","qos":"2","broker":"a503cec5.7c64a","x":150.1999969482422,"y":978.2000122070312,"wires":[["d387222c.ef4f6"]]},{"id":"53238071.a40d5","type":"json","z":"d3488f3f.1d041","name":"","property":"payload","action":"","pretty":false,"x":785.2000122070312,"y":981.2000122070312,"wires":[["b57ae871.5321b8"]]},{"id":"b206267e.5c44a8","type":"mqtt in","z":"d3488f3f.1d041","name":"","topic":"infind/GRUPO7/+/conexion","qos":"2","broker":"a503cec5.7c64a","x":174.1999969482422,"y":1253.1998901367188,"wires":[["3db4c95.1943136","c0a912da.aa072","274313e0.4f45ec"]]},{"id":"4c9c035c.270fcc","type":"comment","z":"d3488f3f.1d041","name":"Estado del dispositivo","info":"","x":155.1999969482422,"y":1180.1998901367188,"wires":[]},{"id":"da8cf448.52cf68","type":"ui_text","z":"d3488f3f.1d041","group":"4836816b.017da","order":5,"width":0,"height":0,"name":"","label":"Estado del dispositivo","format":"{{msg.payload}}","layout":"row-spread","x":1289.5,"y":1205.7999267578125,"wires":[]},{"id":"9c655215.4f772","type":"ui_led","z":"d3488f3f.1d041","group":"4836816b.017da","order":6,"width":0,"height":0,"label":"Estado ","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"green","value":"Encendida","valueType":"str"},{"color":"red","value":"Apagada","valueType":"str"}],"allowColorForValueInMessage":false,"name":"Color LED","x":1263.199951171875,"y":1269.199951171875,"wires":[]},{"id":"68aac81.bfc8638","type":"ui_slider","z":"d3488f3f.1d041","name":"","label":"Limite velocidad (% / 10ms)","tooltip":"","group":"4836816b.017da","order":4,"width":0,"height":0,"passthru":true,"outs":"end","topic":"infind/GRUPO7/led/cmd","min":"1","max":"5","step":"1","x":180,"y":831,"wires":[["5085b2c9.58b53c","859023cf.16e23"]]},{"id":"325b9952.35f9c6","type":"comment","z":"d3488f3f.1d041","name":"Slider para velocidad de cambio de Intensidad de LED","info":"","x":246,"y":767,"wires":[]},{"id":"5085b2c9.58b53c","type":"ui_text","z":"d3488f3f.1d041","group":"4836816b.017da","order":2,"width":0,"height":0,"name":"","label":"Velocidad de cambio","format":"{{msg.payload}}","layout":"col-center","x":464,"y":808,"wires":[]},{"id":"859023cf.16e23","type":"function","z":"d3488f3f.1d041","name":"Convertir valor a JSON (speed)","func":"\nmsg.payload = {\"speed\": msg.payload};\nreturn msg;","outputs":1,"noerr":0,"x":479,"y":853,"wires":[["bf487ac1.87bf38"]]},{"id":"a20330ee.8b935","type":"mqtt out","z":"d3488f3f.1d041","name":"","topic":"","qos":"","retain":"","broker":"fc5c9554.5f0878","x":602,"y":1515,"wires":[]},{"id":"487864e0.8e4fcc","type":"ui_button","z":"d3488f3f.1d041","name":"Actualizar","group":"4836816b.017da","order":6,"width":"0","height":"0","passthru":false,"label":"Actualizar Dispositivo","tooltip":"","color":"","bgcolor":"","icon":"","payload":"1","payloadType":"json","topic":"","x":125,"y":1511,"wires":[["48f6c545.d2d1ec","6389601f.28941"]]},{"id":"48f6c545.d2d1ec","type":"debug","z":"d3488f3f.1d041","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":605,"y":1656,"wires":[]},{"id":"65810aca.b9d4f4","type":"debug","z":"d3488f3f.1d041","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1225.8333740234375,"y":2193,"wires":[]},{"id":"973fc48.fed6c38","type":"mongodb out","z":"d3488f3f.1d041","mongodb":"e409e28.14a132","name":"Insertar ESP en la Lista","collection":"lista_esp","payonly":true,"upsert":false,"multi":false,"operation":"store","x":537.772705078125,"y":1852.7669677734375,"wires":[]},{"id":"c18bcf5b.30937","type":"comment","z":"d3488f3f.1d041","name":"Insertar la ESP en la base de datos","info":"sólo el payload\nantes le añadimos la fecha","x":165.99998474121094,"y":1782.0000190734863,"wires":[]},{"id":"274313e0.4f45ec","type":"json","z":"d3488f3f.1d041","name":"","property":"payload","action":"","pretty":false,"x":782.5,"y":1240,"wires":[["be44fcb1.5a61b"]]},{"id":"be44fcb1.5a61b","type":"function","z":"d3488f3f.1d041","name":"Extraer el estado Online","func":"if(msg.payload.Online){\n    msg.payload = \"Encendida\";\n}else{\n    msg.payload = \"Apagada\";\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":1003.5,"y":1246,"wires":[["9c655215.4f772","da8cf448.52cf68"]]},{"id":"1ab01b08.54c165","type":"link out","z":"d3488f3f.1d041","name":"Datos Conexion","links":["6fc92f97.0b6b8"],"x":803.5,"y":1319,"wires":[]},{"id":"6fc92f97.0b6b8","type":"link in","z":"d3488f3f.1d041","name":"","links":["1ab01b08.54c165"],"x":165.5,"y":1853,"wires":[["905939d0.f283d8","cc98f195.58b19"]]},{"id":"17d144c6.38c49b","type":"mongodb out","z":"d3488f3f.1d041","mongodb":"e409e28.14a132","name":"Borrado de la ESP de la lista","collection":"lista_esp","payonly":true,"upsert":false,"multi":false,"operation":"delete","x":791,"y":1942,"wires":[]},{"id":"905939d0.f283d8","type":"switch","z":"d3488f3f.1d041","name":"","property":"payload.Online","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":283.5,"y":1854,"wires":[["973fc48.fed6c38"],["4e21a54.9d7265c","c886c710.87ed08","18985962.1a6667"]]},{"id":"e7a180c0.6bdae","type":"mongodb in","z":"d3488f3f.1d041","mongodb":"e409e28.14a132","name":"","collection":"lista_esp","operation":"find","x":442.00006103515625,"y":2137,"wires":[["11137209.7b858e"]]},{"id":"e1abd72c.c50018","type":"inject","z":"d3488f3f.1d041","name":"","topic":"","payload":"{ }","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":119,"y":2163.3665771484375,"wires":[["e7a180c0.6bdae"]]},{"id":"cc98f195.58b19","type":"debug","z":"d3488f3f.1d041","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":249.5,"y":1936,"wires":[]},{"id":"4e21a54.9d7265c","type":"function","z":"d3488f3f.1d041","name":"Query para Borrar la ESP","func":"msg.payload = {\"ChipID\": msg.payload.ChipID};\nreturn msg;","outputs":1,"noerr":0,"x":521.5,"y":1942,"wires":[["17d144c6.38c49b"]]},{"id":"4d37fd0b.4dade4","type":"ui_dropdown","z":"d3488f3f.1d041","name":"","label":"","tooltip":"","place":"Selecciona una ESP","group":"55e7615c.3128d","order":6,"width":0,"height":0,"passthru":true,"options":[{"label":"Todas","value":"Todas","type":"str"}],"payload":"","topic":"","x":1009.5,"y":2139,"wires":[["a2bed94a.a4e198","65810aca.b9d4f4"]],"outputLabels":["oye"]},{"id":"3db4c95.1943136","type":"link out","z":"d3488f3f.1d041","name":"Conexion Handler","links":["168e78b1.af4e37"],"x":364.5,"y":1368,"wires":[]},{"id":"168e78b1.af4e37","type":"link in","z":"d3488f3f.1d041","name":"","links":["3db4c95.1943136"],"x":76.5,"y":2082,"wires":[["b72e5a09.502308"]]},{"id":"11137209.7b858e","type":"function","z":"d3488f3f.1d041","name":"Convertir datos a .options ","func":"var longitud = msg.payload.length;\nmsg.options = [];\n\n//mod MiguelG\nvar listaGlobal = [];\n//\n\nif(longitud >0){\n    msg.options[0] = \"Todas\";\n    for(var i = 0; i < longitud; i++){\n        msg.options[i+1] = msg.payload[i].ChipID;\n        //mod MiguelG\n        listaGlobal.push(msg.payload[i].ChipID);\n        //\n        \n    }\n    msg.payload = msg.payload[0].ChipID;\n    global.set(\"ESP\",msg.payload);\n    \n    //mod MiguelG\n    global.set(\"listaGlobal\", listaGlobal);\n    //\n}else{\n    msg.options[0] = \"No hay ESPs\";\n}\nreturn msg;","outputs":1,"noerr":0,"x":776.5,"y":2137,"wires":[["4d37fd0b.4dade4"]]},{"id":"a2bed94a.a4e198","type":"function","z":"d3488f3f.1d041","name":"Setear Global","func":"global.set(\"ESP\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":1228.5,"y":2141,"wires":[["d37baa5.fd39858"]]},{"id":"b72e5a09.502308","type":"delay","z":"d3488f3f.1d041","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":178.5,"y":2109,"wires":[["e7a180c0.6bdae"]]},{"id":"f93b93d9.5cf96","type":"function","z":"d3488f3f.1d041","name":"Extraer ESP del Topic","func":"global.set(\"ESP_Actual\",msg.topic.split(\"/\")[2].substr(3));\nif(global.get(\"ESP_Actual\") != global.get(\"ESP\")){\n    global.set(\"ESP_Iguales\",false);\n}else{\n    global.set(\"ESP_Iguales\",true);\n}\nreturn msg;","outputs":1,"noerr":0,"x":396,"y":137,"wires":[["f9eb1770.0407f8"]]},{"id":"f9eb1770.0407f8","type":"switch","z":"d3488f3f.1d041","name":"","property":"ESP_Iguales","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":508.5,"y":231,"wires":[["60d7f94f.60d1d8"]]},{"id":"ee4efddd.4ea37","type":"function","z":"d3488f3f.1d041","name":"Extraer ESP del Topic","func":"global.set(\"ESP_Actual\",msg.topic.split(\"/\")[2].substr(3));\nmsg.payload = global.get(\"ESP_Actual\");\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":2328,"wires":[["976f15f.f777ae8"]]},{"id":"48b828be.f2db98","type":"inject","z":"d3488f3f.1d041","name":"","topic":"infind/GRUPO7/ESP418957/datos","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":111,"y":2329,"wires":[["ee4efddd.4ea37"]]},{"id":"976f15f.f777ae8","type":"debug","z":"d3488f3f.1d041","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":653,"y":2329,"wires":[]},{"id":"d02189a.8cc1178","type":"comment","z":"d3488f3f.1d041","name":"Zona Testeo","info":"sólo el payload\nantes le añadimos la fecha","x":119,"y":2257,"wires":[]},{"id":"e3c541cf.7f8f2","type":"switch","z":"d3488f3f.1d041","name":"","property":"ESP_Iguales","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":606.5,"y":990,"wires":[["53238071.a40d5"]]},{"id":"d387222c.ef4f6","type":"function","z":"d3488f3f.1d041","name":"Extraer ESP del Topic","func":"global.set(\"ESP_Actual\",msg.topic.split(\"/\")[2].substr(3));\nif(global.get(\"ESP_Actual\") != global.get(\"ESP\")){\n    global.set(\"ESP_Iguales\",false);\n}else{\n    global.set(\"ESP_Iguales\",true);\n}\nreturn msg;","outputs":1,"noerr":0,"x":403,"y":983,"wires":[["e3c541cf.7f8f2"]]},{"id":"bf487ac1.87bf38","type":"function","z":"d3488f3f.1d041","name":"Enviar a la ESP correspondiente","func":"//if (global.get(\"ESP_Actual\") == \"Todas\"){\n    //var topic = \"infind/GRUPO7/+/led/cmd\";\n    \nif (global.get(\"ESP\") == \"Todas\"){\n    listaG = global.get(\"listaGlobal\");\n    for(var i=0; i<listaG.length-1;i++){\n        var topic = \"infind/GRUPO7/ESP\"+listaG[i]+\"/led/cmd\";\n        msg.topic = topic;\n        node.send(msg);\n        return msg;\n    }\n   topic = \"infind/GRUPO7/ESP\"+listaG[listaG.length-1]+\"/led/cmd\";\n        msg.topic = topic;\n        return msg;\n    \n}else{\n    var topic = \"infind/GRUPO7/ESP\" + global.get(\"ESP\")+\"/led/cmd\";\n    msg.topic = topic;\n    return msg;\n    \n}\n//msg.topic = topic;\n//return msg;","outputs":1,"noerr":0,"x":904.5,"y":773,"wires":[["539a84f9.e01f9c","ce157c25.d9fb8"]]},{"id":"6389601f.28941","type":"function","z":"d3488f3f.1d041","name":"Enviar a la ESP correspondiente","func":"if (global.get(\"ESP_Actual\") == \"Todas\"){\n    var topic = \"infind/GRUPO7/+/FOTA\";\n}else{\n    var topic = \"infind/GRUPO7/ESP\" + global.get(\"ESP\")+\"/FOTA\";\n}\nmsg.topic = topic;\nreturn msg;","outputs":1,"noerr":0,"x":381,"y":1515,"wires":[["a20330ee.8b935"]]},{"id":"ce157c25.d9fb8","type":"debug","z":"d3488f3f.1d041","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"topic","x":1208.5,"y":842,"wires":[]},{"id":"c0a912da.aa072","type":"json","z":"d3488f3f.1d041","name":"","property":"payload","action":"","pretty":false,"x":667,"y":1320,"wires":[["1ab01b08.54c165"]]},{"id":"9f1bbf23.b091a","type":"comment","z":"d3488f3f.1d041","name":"Dropdown de ESP's","info":"sólo el payload\nantes le añadimos la fecha","x":123,"y":2019,"wires":[]},{"id":"d37baa5.fd39858","type":"link out","z":"d3488f3f.1d041","name":"Estado Led","links":[],"x":1363.5,"y":2094,"wires":[]},{"id":"1c39311d.0ec1df","type":"comment","z":"d3488f3f.1d041","name":"Guardar Logs","info":"sólo el payload\nantes le añadimos la fecha","x":124,"y":2438,"wires":[]},{"id":"2746ee6d.6993b2","type":"mqtt in","z":"d3488f3f.1d041","name":"","topic":"infind/GRUPO7/+/log","qos":"2","broker":"a503cec5.7c64a","x":129,"y":2520,"wires":[["cbfa81dd.0e8b9","7d9aba55.9e3254"]]},{"id":"2d13e74.5b28218","type":"mongodb out","z":"d3488f3f.1d041","mongodb":"e409e28.14a132","name":"Guardar Log del sistema","collection":"log","payonly":true,"upsert":false,"multi":false,"operation":"store","x":812,"y":2515,"wires":[]},{"id":"cbfa81dd.0e8b9","type":"json","z":"d3488f3f.1d041","name":"","property":"payload","action":"","pretty":false,"x":365,"y":2520,"wires":[["9cedf6ab.ef6d48"]]},{"id":"9cedf6ab.ef6d48","type":"function","z":"d3488f3f.1d041","name":"+ fecha","func":"msg.payload.date = new Date();\nreturn msg;","outputs":1,"noerr":0,"x":533,"y":2519,"wires":[["2d13e74.5b28218"]]},{"id":"7d9aba55.9e3254","type":"debug","z":"d3488f3f.1d041","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":424.5,"y":2590,"wires":[]},{"id":"b213b6a7.170238","type":"inject","z":"d3488f3f.1d041","name":"","topic":"","payload":"{ }","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":109,"y":2687,"wires":[["6d5c3746.3d5c78"]]},{"id":"6d5c3746.3d5c78","type":"mongodb in","z":"d3488f3f.1d041","mongodb":"e409e28.14a132","name":"","collection":"log","operation":"find","x":454.00006103515625,"y":2691.633544921875,"wires":[["2df2e9e6.4c1c86"]]},{"id":"2df2e9e6.4c1c86","type":"debug","z":"d3488f3f.1d041","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":787,"y":2689,"wires":[]},{"id":"c886c710.87ed08","type":"link out","z":"d3488f3f.1d041","name":"Registro Offline","links":["2540a581.44b34a"],"x":462.5,"y":2029,"wires":[]},{"id":"2540a581.44b34a","type":"link in","z":"d3488f3f.1d041","name":"","links":["c886c710.87ed08"],"x":101.5,"y":2861,"wires":[["cc645e43.78301"]]},{"id":"cc645e43.78301","type":"function","z":"d3488f3f.1d041","name":"Formatear Mensaje Desconexion","func":"var chipID = msg.payload.ChipID;\nmsg.payload = {\"ChipID\" : chipID, \"Tipo\" : \"Alerta\", \"Mensaje\": \"ESP desconectada de manera prematura\"};\nreturn msg;","outputs":1,"noerr":0,"x":408.5,"y":2864,"wires":[["1064aff3.6fdc7"]]},{"id":"1064aff3.6fdc7","type":"function","z":"d3488f3f.1d041","name":"+ fecha","func":"msg.payload.date = new Date();\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":2863,"wires":[["2d13e74.5b28218"]]},{"id":"f9f73853.a0c348","type":"comment","z":"d3488f3f.1d041","name":"Modificación listaGlobal","info":"Adición de listaGlobal como variable global con\nla información de ESPs conectadas.","x":780,"y":2097,"wires":[]},{"id":"18985962.1a6667","type":"debug","z":"d3488f3f.1d041","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":485,"y":1781,"wires":[]},{"id":"a503cec5.7c64a","type":"mqtt-broker","z":"","name":"iot placa MQTT","broker":"127.0.0.1","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"50d1d1c2.c2d1c","type":"ui_group","z":"","name":"Datos","tab":"5fbe9834.3189e8","order":1,"disp":true,"width":"7","collapse":false},{"id":"a8f544ba.a54d38","type":"ui_group","z":"","name":"Gráfica (Temperatura, Humedad)","tab":"5fbe9834.3189e8","order":2,"disp":true,"width":"8","collapse":false},{"id":"55e7615c.3128d","type":"ui_group","z":"","name":"Datos WIFI y ESP8266","tab":"5fbe9834.3189e8","order":3,"disp":true,"width":"6","collapse":false},{"id":"4836816b.017da","type":"ui_group","z":"","name":"Control LED","tab":"5fbe9834.3189e8","order":4,"disp":true,"width":"8","collapse":false},{"id":"fc5c9554.5f0878","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"e409e28.14a132","type":"mongodb","z":"","hostname":"iot.ac.uma.es","port":"27017","db":"IOT7","name":"Conexion a UMA MongoDB Grupo7"},{"id":"5fbe9834.3189e8","type":"ui_tab","z":"","name":"Tarea en grupo","icon":"dashboard","order":7,"disabled":false,"hidden":false}]