mqtt/Telegram.json
[
    {
        "id": "798fce69.38787",
        "type": "tab",
        "label": "Telegram",
        "disabled": false,
        "info": ""
    },
    {
        "id": "4ec06b51.a378d4",
        "type": "chatbot-message",
        "z": "798fce69.38787",
        "name": "Mensaje bienvenida",
        "message": [
            {
                "message": "Bienvenido al Bot Grupo 7 {{username}}. Aquí podrá consultar sobre el estado de los aparatos enlazados. También recibirás cualquier notificación que se produzca en el sistema.\nLos siguientes comandos están disponibles:\n/obtener_estado {id_actuador}\n/ultimos_valores {id_actuador}\n/cambiar_iluminacion {id_actuador} {valor 0-100}\n/activar_led {id_actuador} \n/desactivar_led {;id_actuador}\n/actualizar_actuador {id_actuador} \n\nLos dispositivos que están conectado actualmente son los siguientes:\n{{payload.ChipIDS}}"
            }
        ],
        "language": "es",
        "x": 1070,
        "y": 380,
        "wires": [
            [
                "5ccdc9f7.1057f8"
            ]
        ]
    },
    {
        "id": "deacbdc6.ca8c",
        "type": "comment",
        "z": "798fce69.38787",
        "name": "Obtener desde db el ultimo estado o valor",
        "info": "Obtener el ultimo valor u estado que tiene los dispositivos.",
        "x": 760,
        "y": 460,
        "wires": []
    },
    {
        "id": "91c52c03.c19ff",
        "type": "chatbot-command",
        "z": "798fce69.38787",
        "name": "",
        "command": "/obtener_estado",
        "x": 660,
        "y": 520,
        "wires": [
            [
                "ac1d07fd.36f668"
            ]
        ]
    },
    {
        "id": "77726870.c049d8",
        "type": "chatbot-command",
        "z": "798fce69.38787",
        "name": "",
        "command": "/ultimos_valores",
        "x": 660,
        "y": 580,
        "wires": [
            [
                "82acb6f6.599dd8"
            ]
        ]
    },
    {
        "id": "79b5bc3.513e844",
        "type": "chatbot-command",
        "z": "798fce69.38787",
        "name": "",
        "command": "/cambiar_iluminacion",
        "x": 680,
        "y": 660,
        "wires": [
            [
                "8807a803.c4be18"
            ]
        ]
    },
    {
        "id": "a7cee3ae.a801f",
        "type": "change",
        "z": "798fce69.38787",
        "name": "Variables",
        "rules": [
            {
                "t": "set",
                "p": "nombre",
                "pt": "flow",
                "to": "originalMessage.from.first_name",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 440,
        "y": 580,
        "wires": [
            [
                "91c52c03.c19ff",
                "77726870.c049d8",
                "79b5bc3.513e844",
                "35eb41.bfd064c",
                "6334f2e.ee5a20c",
                "545fe84d.06e578",
                "b7a3aab.d6f2d58"
            ]
        ]
    },
    {
        "id": "35eb41.bfd064c",
        "type": "chatbot-command",
        "z": "798fce69.38787",
        "name": "",
        "command": "/start",
        "x": 630,
        "y": 380,
        "wires": [
            [
                "c32140a1.b460c"
            ]
        ]
    },
    {
        "id": "5ccdc9f7.1057f8",
        "type": "chatbot-telegram-send",
        "z": "798fce69.38787",
        "bot": "9a4528aa.275318",
        "botProduction": "",
        "track": false,
        "passThrough": false,
        "errorOutput": false,
        "outputs": 0,
        "x": 1350,
        "y": 520,
        "wires": []
    },
    {
        "id": "fb1c534f.cda2d",
        "type": "chatbot-telegram-receive",
        "z": "798fce69.38787",
        "bot": "9a4528aa.275318",
        "botProduction": "",
        "x": 90,
        "y": 500,
        "wires": [
            [
                "1a172fc1.52c81",
                "89b2d3c2.36e5f"
            ]
        ]
    },
    {
        "id": "6fa01591.7419dc",
        "type": "chatbot-message",
        "z": "798fce69.38787",
        "name": "Log Info",
        "message": [
            {
                "message": "{{payload.Tipo}} de ESP {{payload.ChipID}} : {{payload.Mensaje}}"
            }
        ],
        "language": "es",
        "x": 1310,
        "y": 980,
        "wires": [
            [
                "74413cea.aa2334"
            ]
        ]
    },
    {
        "id": "6ee3ebf5.50eae4",
        "type": "link in",
        "z": "798fce69.38787",
        "name": "Log Salida",
        "links": [
            "9067e6eb.72f818"
        ],
        "x": 315,
        "y": 980,
        "wires": [
            [
                "daf60fb7.90ecc"
            ]
        ]
    },
    {
        "id": "daf60fb7.90ecc",
        "type": "chatbot-conversation",
        "z": "798fce69.38787",
        "name": "",
        "botDevelopment": "9a4528aa.275318",
        "botProduction": "66a71266.d40ccc",
        "chatId": "-1001178352887",
        "userId": "",
        "transport": "telegram",
        "store": "",
        "x": 650,
        "y": 980,
        "wires": [
            [
                "6fa01591.7419dc"
            ]
        ]
    },
    {
        "id": "85ef3664.6f20f8",
        "type": "function",
        "z": "798fce69.38787",
        "name": "Select ESP",
        "func": "var dispositivos = msg.payload;\nmsg.payload = msg.telegram;\n\nmsg.payload.message = '¿Cuál actuador quiere seleccionar?';\nmsg.payload.buttons = [];\n\n\nfor (var i=0; i<dispositivos.length; i++){\n    msg.payload.buttons.push({type: 'keyboardButton', label: dispositivos[i]['ChipID']});\n    msg.payload.buttons.push({type: 'newline'});\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1190,
        "y": 1300,
        "wires": [
            [
                "be00794c.afbce8"
            ]
        ]
    },
    {
        "id": "92c8d79c.10bae8",
        "type": "link out",
        "z": "798fce69.38787",
        "name": "Estado",
        "links": [
            "7a22cd79.968374"
        ],
        "x": 975,
        "y": 520,
        "wires": []
    },
    {
        "id": "54622a87.371f64",
        "type": "link out",
        "z": "798fce69.38787",
        "name": "Valores",
        "links": [
            "7a22cd79.968374"
        ],
        "x": 975,
        "y": 580,
        "wires": []
    },
    {
        "id": "7a22cd79.968374",
        "type": "link in",
        "z": "798fce69.38787",
        "name": "estado",
        "links": [
            "92c8d79c.10bae8",
            "54622a87.371f64"
        ],
        "x": 295,
        "y": 1320,
        "wires": [
            [
                "42e00ad9.ff1424"
            ]
        ]
    },
    {
        "id": "42e00ad9.ff1424",
        "type": "switch",
        "z": "798fce69.38787",
        "name": "",
        "property": "payload.arguments",
        "propertyType": "msg",
        "rules": [
            {
                "t": "empty"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 390,
        "y": 1320,
        "wires": [
            [
                "c749d09b.b7efb"
            ],
            [
                "b6169ef7.22cb4"
            ]
        ]
    },
    {
        "id": "d32107d7.f496f8",
        "type": "link out",
        "z": "798fce69.38787",
        "name": "Obtener valores",
        "links": [
            "b81337ae.f722e8"
        ],
        "x": 815,
        "y": 1340,
        "wires": []
    },
    {
        "id": "b81337ae.f722e8",
        "type": "link in",
        "z": "798fce69.38787",
        "name": "Obtener valores",
        "links": [
            "d32107d7.f496f8",
            "ef0836c2.87a388",
            "5ae084ae.f87d7c"
        ],
        "x": 115,
        "y": 1520,
        "wires": [
            [
                "97703c8b.81ff2"
            ]
        ]
    },
    {
        "id": "be00794c.afbce8",
        "type": "chatbot-ask",
        "z": "798fce69.38787",
        "name": "",
        "buttons": [],
        "message": "",
        "x": 1370,
        "y": 1300,
        "wires": [
            [
                "e5c6734c.4d375"
            ]
        ]
    },
    {
        "id": "3d52f677.46246a",
        "type": "switch",
        "z": "798fce69.38787",
        "name": "",
        "property": "context",
        "propertyType": "global",
        "rules": [
            {
                "t": "eq",
                "v": "estado",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "valores",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "iluminacion",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 5,
        "x": 450,
        "y": 160,
        "wires": [
            [
                "4e8cee26.7bbc2"
            ],
            [
                "e7bff02d.97731"
            ],
            [
                "8854790d.ad29d8"
            ],
            [],
            [
                "fc86e362.079ce"
            ]
        ]
    },
    {
        "id": "b361d260.b2d82",
        "type": "change",
        "z": "798fce69.38787",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "context",
                "tot": "global"
            },
            {
                "t": "set",
                "p": "context",
                "pt": "global",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 880,
        "y": 100,
        "wires": [
            [
                "ef0836c2.87a388"
            ]
        ]
    },
    {
        "id": "ef0836c2.87a388",
        "type": "link out",
        "z": "798fce69.38787",
        "name": "Obtener valores",
        "links": [
            "b81337ae.f722e8"
        ],
        "x": 1075,
        "y": 100,
        "wires": []
    },
    {
        "id": "4e8cee26.7bbc2",
        "type": "function",
        "z": "798fce69.38787",
        "name": "",
        "func": "msg.payload.arguments=[];\nmsg.payload.arguments.push(msg.payload.content);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 690,
        "y": 100,
        "wires": [
            [
                "b361d260.b2d82"
            ]
        ]
    },
    {
        "id": "270e690d.eeb406",
        "type": "link in",
        "z": "798fce69.38787",
        "name": "Salida",
        "links": [
            "d814c363.54cc4",
            "e5c6734c.4d375",
            "74413cea.aa2334",
            "7c85c6a0.d59268",
            "3924902.7b5a97",
            "4d8fef5b.2f80a",
            "62858408.55431c",
            "d300c5f5.b4fb98",
            "410e6ad9.9541d4",
            "40a7e3d4.e57c2c",
            "677c3dd7.bcac54"
        ],
        "x": 1140,
        "y": 520,
        "wires": [
            [
                "5ccdc9f7.1057f8"
            ]
        ]
    },
    {
        "id": "d814c363.54cc4",
        "type": "link out",
        "z": "798fce69.38787",
        "name": "Salida",
        "links": [
            "270e690d.eeb406"
        ],
        "x": 2115,
        "y": 1520,
        "wires": []
    },
    {
        "id": "554fe955.552918",
        "type": "chatbot-message",
        "z": "798fce69.38787",
        "name": "Ultimos valores no encontrado",
        "message": [
            {
                "message": "Últimos valores de ESP {{chipID}} : Se ha intentado obtener  los últimos valores, pero no hay."
            }
        ],
        "language": "es",
        "x": 1520,
        "y": 1580,
        "wires": [
            [
                "d814c363.54cc4"
            ]
        ]
    },
    {
        "id": "b28e3e7f.f817a",
        "type": "comment",
        "z": "798fce69.38787",
        "name": "Otros valores que no son comandos",
        "info": "Es una continuación del contexto que la convesación sigue.\nSi antes no se ha declarado un contexto, no estraría.",
        "x": 520,
        "y": 60,
        "wires": []
    },
    {
        "id": "a53d3486.53e388",
        "type": "comment",
        "z": "798fce69.38787",
        "name": "Commandos",
        "info": "",
        "x": 610,
        "y": 320,
        "wires": []
    },
    {
        "id": "c00be7af.b1c158",
        "type": "comment",
        "z": "798fce69.38787",
        "name": "Mensaje Log para canal de disfusión",
        "info": "",
        "x": 460,
        "y": 920,
        "wires": []
    },
    {
        "id": "83d4cbce.407fc8",
        "type": "comment",
        "z": "798fce69.38787",
        "name": "Obtención de dispositivos activos ",
        "info": "",
        "x": 470,
        "y": 820,
        "wires": []
    },
    {
        "id": "e5c6734c.4d375",
        "type": "link out",
        "z": "798fce69.38787",
        "name": "Salida de dispositivos",
        "links": [
            "270e690d.eeb406"
        ],
        "x": 1475,
        "y": 1300,
        "wires": []
    },
    {
        "id": "e4887d05.5164e",
        "type": "comment",
        "z": "798fce69.38787",
        "name": "Comprobación ESP Estado y Valor",
        "info": "",
        "x": 420,
        "y": 1260,
        "wires": []
    },
    {
        "id": "74413cea.aa2334",
        "type": "link out",
        "z": "798fce69.38787",
        "name": "Salida de log",
        "links": [
            "270e690d.eeb406"
        ],
        "x": 1435,
        "y": 980,
        "wires": []
    },
    {
        "id": "6334f2e.ee5a20c",
        "type": "chatbot-command",
        "z": "798fce69.38787",
        "name": "",
        "command": "/activar_led",
        "x": 650,
        "y": 700,
        "wires": [
            [
                "2a679606.cee15a"
            ]
        ]
    },
    {
        "id": "545fe84d.06e578",
        "type": "chatbot-command",
        "z": "798fce69.38787",
        "name": "",
        "command": "/actualizar_actuador",
        "x": 680,
        "y": 780,
        "wires": [
            [
                "1b679d42.081e53"
            ]
        ]
    },
    {
        "id": "ac1d07fd.36f668",
        "type": "change",
        "z": "798fce69.38787",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "context",
                "pt": "global",
                "to": "estado",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 850,
        "y": 520,
        "wires": [
            [
                "92c8d79c.10bae8"
            ]
        ]
    },
    {
        "id": "82acb6f6.599dd8",
        "type": "change",
        "z": "798fce69.38787",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "context",
                "pt": "global",
                "to": "valores",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 850,
        "y": 580,
        "wires": [
            [
                "54622a87.371f64"
            ]
        ]
    },
    {
        "id": "293d000f.f00ff",
        "type": "link out",
        "z": "798fce69.38787",
        "name": "Iluminacion",
        "links": [
            "48b4081e.eea1f8"
        ],
        "x": 1055,
        "y": 660,
        "wires": []
    },
    {
        "id": "a09c8e16.7a3dc",
        "type": "link out",
        "z": "798fce69.38787",
        "name": "LED",
        "links": [
            "48b4081e.eea1f8"
        ],
        "x": 1055,
        "y": 700,
        "wires": []
    },
    {
        "id": "8807a803.c4be18",
        "type": "change",
        "z": "798fce69.38787",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "context",
                "pt": "global",
                "to": "iluminacion",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 930,
        "y": 660,
        "wires": [
            [
                "293d000f.f00ff"
            ]
        ]
    },
    {
        "id": "2a679606.cee15a",
        "type": "change",
        "z": "798fce69.38787",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "context",
                "pt": "global",
                "to": "led_1",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 930,
        "y": 700,
        "wires": [
            [
                "a09c8e16.7a3dc"
            ]
        ]
    },
    {
        "id": "91919468.526518",
        "type": "link out",
        "z": "798fce69.38787",
        "name": "Actualizar",
        "links": [
            "48b4081e.eea1f8"
        ],
        "x": 1055,
        "y": 780,
        "wires": []
    },
    {
        "id": "1b679d42.081e53",
        "type": "change",
        "z": "798fce69.38787",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "context",
                "pt": "global",
                "to": "actualizar",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 930,
        "y": 780,
        "wires": [
            [
                "91919468.526518"
            ]
        ]
    },
    {
        "id": "c749d09b.b7efb",
        "type": "function",
        "z": "798fce69.38787",
        "name": "Busqueda Chips",
        "func": "msg.telegram = msg.payload;\nmsg.payload = {\"ChipID\":{\"$not\": {\"$eq\": \"Global\"}}};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 580,
        "y": 1300,
        "wires": [
            [
                "a629b8f4.690c58"
            ]
        ]
    },
    {
        "id": "a629b8f4.690c58",
        "type": "mongodb in",
        "z": "798fce69.38787",
        "mongodb": "bae6b600.bd35e8",
        "name": "",
        "collection": "MinimoMaximo",
        "operation": "find",
        "x": 890,
        "y": 1300,
        "wires": [
            [
                "85ef3664.6f20f8"
            ]
        ]
    },
    {
        "id": "abe09595.55ba28",
        "type": "change",
        "z": "798fce69.38787",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "context",
                "tot": "global"
            },
            {
                "t": "set",
                "p": "context",
                "pt": "global",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 880,
        "y": 140,
        "wires": [
            [
                "5ae084ae.f87d7c"
            ]
        ]
    },
    {
        "id": "5ae084ae.f87d7c",
        "type": "link out",
        "z": "798fce69.38787",
        "name": "Obtener valores",
        "links": [
            "b81337ae.f722e8"
        ],
        "x": 1075,
        "y": 140,
        "wires": []
    },
    {
        "id": "e7bff02d.97731",
        "type": "function",
        "z": "798fce69.38787",
        "name": "",
        "func": "msg.payload.arguments=[];\nmsg.payload.arguments.push(msg.payload.content);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 690,
        "y": 140,
        "wires": [
            [
                "abe09595.55ba28"
            ]
        ]
    },
    {
        "id": "5f3867c5.6f6338",
        "type": "chatbot-message",
        "z": "798fce69.38787",
        "name": "Ultimos valores encontrado",
        "message": [
            {
                "message": "Últimos valores de ESP {{payload.datos.ChipID}} :\nHora y fecha: {{payload.datos.hora}}\nTemperatura: {{payload.datos.DHT11.temp}} ºC\nHumedad: {{payload.datos.DHT11.hum}} %"
            }
        ],
        "language": "es",
        "x": 1510,
        "y": 1520,
        "wires": [
            [
                "d814c363.54cc4"
            ]
        ]
    },
    {
        "id": "81d77c73.1f981",
        "type": "chatbot-message",
        "z": "798fce69.38787",
        "name": "Estado controlador encontrado",
        "message": [
            {
                "message": "Estado del actuador ESP {{payload.datos.ChipID}} :\nHora y fecha: {{payload.datos.hora}}\nTiempo activo: {{payload.datos.Uptime}} segundos\nVoltaje: {{payload.datos.Voltaje}} V\nLED: {{payload.datos.LED}}\nWifi - SSID: {{payload.datos.Wifi.SSID}}\nWifi - IP: {{payload.datos.Wifi.IP}}\nWifi - RSSI: {{payload.datos.Wifi.RSSI}}\n\n"
            }
        ],
        "language": "es",
        "x": 1820,
        "y": 1400,
        "wires": [
            [
                "d814c363.54cc4"
            ]
        ]
    },
    {
        "id": "524f9919.ef8c58",
        "type": "function",
        "z": "798fce69.38787",
        "name": "Conversión mV a V, mS a S y encendido/apagado",
        "func": "\nmsg.payload.datos.Uptime = Math.trunc(msg.payload.datos.Uptime/1000);\nmsg.payload.datos.Voltaje = msg.payload.datos.Voltaje/1000;\nmsg.payload.datos.LED = msg.payload.datos.LED === 0 ? \"Apagado\":\"Encendido\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1470,
        "y": 1400,
        "wires": [
            [
                "81d77c73.1f981"
            ]
        ]
    },
    {
        "id": "66da096b.1e31a8",
        "type": "chatbot-message",
        "z": "798fce69.38787",
        "name": "Estado no encontrado",
        "message": [
            {
                "message": "Estado del actuador ESP {{chipID}} : Desconectado"
            }
        ],
        "language": "es",
        "x": 1820,
        "y": 1460,
        "wires": [
            [
                "d814c363.54cc4"
            ]
        ]
    },
    {
        "id": "b426eb01.b29b58",
        "type": "switch",
        "z": "798fce69.38787",
        "name": "",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "estado",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "valores",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 910,
        "y": 1520,
        "wires": [
            [
                "792ca040.5dbb6"
            ],
            [
                "c6eec30a.7dd64"
            ]
        ]
    },
    {
        "id": "97703c8b.81ff2",
        "type": "function",
        "z": "798fce69.38787",
        "name": "",
        "func": "var chipId = msg.payload.arguments[0];\nmsg.chipID = chipId;\nmsg.telegram = msg.payload;\nmsg.payload = {\"ChipID\" : chipId};\nmsg.sort = {\"date\":-1};\nmsg.limit = 1;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 210,
        "y": 1520,
        "wires": [
            [
                "38a09638.b3ffca"
            ]
        ]
    },
    {
        "id": "38a09638.b3ffca",
        "type": "mongodb in",
        "z": "798fce69.38787",
        "mongodb": "bae6b600.bd35e8",
        "name": "",
        "collection": "DatosESP",
        "operation": "find",
        "x": 480,
        "y": 1520,
        "wires": [
            [
                "f5da1eb4.1fedb"
            ]
        ]
    },
    {
        "id": "f5da1eb4.1fedb",
        "type": "function",
        "z": "798fce69.38787",
        "name": "",
        "func": "var datos = msg.payload[0];\nmsg.payload = msg.telegram;\nmsg.payload.datos = datos;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 770,
        "y": 1520,
        "wires": [
            [
                "b426eb01.b29b58"
            ]
        ]
    },
    {
        "id": "b6169ef7.22cb4",
        "type": "change",
        "z": "798fce69.38787",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "context",
                "tot": "global"
            },
            {
                "t": "set",
                "p": "context",
                "pt": "global",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 580,
        "y": 1340,
        "wires": [
            [
                "d32107d7.f496f8"
            ]
        ]
    },
    {
        "id": "c6eec30a.7dd64",
        "type": "switch",
        "z": "798fce69.38787",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "nempty"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1150,
        "y": 1560,
        "wires": [
            [
                "5f3867c5.6f6338"
            ],
            [
                "554fe955.552918"
            ]
        ]
    },
    {
        "id": "814143e3.f10b6",
        "type": "function",
        "z": "798fce69.38787",
        "name": "Select ESP",
        "func": "var dispositivos = msg.payload;\nmsg.payload = msg.telegram;\n\nmsg.payload.message = '¿Cuál actuador quiere seleccionar?';\nmsg.payload.buttons = [];\n\nmsg.payload.buttons.push({type: 'keyboardButton', label: \"Todas\"});\nmsg.payload.buttons.push({type: 'newline'});\n\nfor (var i=0; i<dispositivos.length; i++){\n    msg.payload.buttons.push({type: 'keyboardButton', label: dispositivos[i]['ChipID']});\n    msg.payload.buttons.push({type: 'newline'});\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1210,
        "y": 1680,
        "wires": [
            [
                "3b1e4df2.4e9812"
            ]
        ]
    },
    {
        "id": "48b4081e.eea1f8",
        "type": "link in",
        "z": "798fce69.38787",
        "name": "Cambios actuador",
        "links": [
            "a09c8e16.7a3dc",
            "91919468.526518",
            "293d000f.f00ff",
            "f248221f.1dafc",
            "f5e054ff.98de98"
        ],
        "x": 155,
        "y": 1700,
        "wires": [
            [
                "d468663b.6629e8"
            ]
        ]
    },
    {
        "id": "d468663b.6629e8",
        "type": "switch",
        "z": "798fce69.38787",
        "name": "",
        "property": "payload.arguments",
        "propertyType": "msg",
        "rules": [
            {
                "t": "empty"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 250,
        "y": 1700,
        "wires": [
            [
                "2dc19f9b.23dc1"
            ],
            [
                "8a12af05.6e69d"
            ]
        ]
    },
    {
        "id": "17b29117.c5b03f",
        "type": "link out",
        "z": "798fce69.38787",
        "name": "Cambiar iluminacion",
        "links": [
            "db6acc04.44948"
        ],
        "x": 1395,
        "y": 1820,
        "wires": []
    },
    {
        "id": "3b1e4df2.4e9812",
        "type": "chatbot-ask",
        "z": "798fce69.38787",
        "name": "",
        "buttons": [],
        "message": "",
        "x": 1390,
        "y": 1680,
        "wires": [
            [
                "7c85c6a0.d59268"
            ]
        ]
    },
    {
        "id": "7c85c6a0.d59268",
        "type": "link out",
        "z": "798fce69.38787",
        "name": "Salida de dispositivos",
        "links": [
            "270e690d.eeb406"
        ],
        "x": 1555,
        "y": 1680,
        "wires": []
    },
    {
        "id": "9c6ce7b8.523178",
        "type": "comment",
        "z": "798fce69.38787",
        "name": "Comprobación ESP Cambios Actuador",
        "info": "",
        "x": 450,
        "y": 1640,
        "wires": []
    },
    {
        "id": "2dc19f9b.23dc1",
        "type": "function",
        "z": "798fce69.38787",
        "name": "Busqueda Chips",
        "func": "msg.telegram = msg.payload;\nmsg.payload = {\"Online\" : true};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 600,
        "y": 1680,
        "wires": [
            [
                "d3f7d531.7541e8"
            ]
        ]
    },
    {
        "id": "ce8b6efe.7e10a",
        "type": "change",
        "z": "798fce69.38787",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "context",
                "tot": "global"
            },
            {
                "t": "set",
                "p": "context",
                "pt": "global",
                "to": "",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "ESP_ilu",
                "pt": "global",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1220,
        "y": 1820,
        "wires": [
            [
                "17b29117.c5b03f"
            ]
        ]
    },
    {
        "id": "42035143.51a01",
        "type": "switch",
        "z": "798fce69.38787",
        "name": "",
        "property": "valido",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1150,
        "y": 1420,
        "wires": [
            [
                "524f9919.ef8c58"
            ],
            [
                "66da096b.1e31a8"
            ]
        ]
    },
    {
        "id": "bfccf666.c95218",
        "type": "switch",
        "z": "798fce69.38787",
        "name": "",
        "property": "context",
        "propertyType": "global",
        "rules": [
            {
                "t": "eq",
                "v": "iluminacion",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 790,
        "y": 1800,
        "wires": [
            [
                "9d167617.558378"
            ],
            [
                "c8e356ad.056a98"
            ]
        ]
    },
    {
        "id": "f248221f.1dafc",
        "type": "link out",
        "z": "798fce69.38787",
        "name": "Estado Actuador",
        "links": [
            "48b4081e.eea1f8"
        ],
        "x": 1035,
        "y": 200,
        "wires": []
    },
    {
        "id": "fc86e362.079ce",
        "type": "function",
        "z": "798fce69.38787",
        "name": "",
        "func": "msg.payload.arguments=[];\nmsg.payload.arguments.push(msg.payload.content);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 690,
        "y": 220,
        "wires": [
            [
                "f248221f.1dafc"
            ]
        ]
    },
    {
        "id": "8854790d.ad29d8",
        "type": "function",
        "z": "798fce69.38787",
        "name": "",
        "func": "msg.payload.arguments=[];  \nif(global.get(\"ESP_ilu\")){\n    msg.payload.arguments.push(global.get(\"ESP_ilu\"));\n} else{\n    global.set(\"ESP_ilu\",msg.payload.content);\n}\nmsg.payload.arguments.push(msg.payload.content);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 690,
        "y": 180,
        "wires": [
            [
                "f248221f.1dafc"
            ]
        ]
    },
    {
        "id": "1e3b08d6.b516d7",
        "type": "chatbot-message",
        "z": "798fce69.38787",
        "name": "Valor iluminación",
        "message": [
            {
                "message": "¿Cuál es el nuevo valor de la iluminación? (Valor entre 0 y 100)"
            }
        ],
        "language": "es",
        "x": 1240,
        "y": 1740,
        "wires": [
            [
                "3924902.7b5a97"
            ]
        ]
    },
    {
        "id": "9d167617.558378",
        "type": "switch",
        "z": "798fce69.38787",
        "name": "",
        "property": "payload.arguments.length",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 970,
        "y": 1780,
        "wires": [
            [
                "1e3b08d6.b516d7"
            ],
            [
                "ce8b6efe.7e10a"
            ]
        ]
    },
    {
        "id": "3924902.7b5a97",
        "type": "link out",
        "z": "798fce69.38787",
        "name": "Salida de dispositivos",
        "links": [
            "270e690d.eeb406"
        ],
        "x": 1455,
        "y": 1740,
        "wires": []
    },
    {
        "id": "c8e356ad.056a98",
        "type": "change",
        "z": "798fce69.38787",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "context",
                "tot": "global"
            },
            {
                "t": "set",
                "p": "context",
                "pt": "global",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1000,
        "y": 1880,
        "wires": [
            [
                "118609b6.dd6116"
            ]
        ]
    },
    {
        "id": "118609b6.dd6116",
        "type": "link out",
        "z": "798fce69.38787",
        "name": "Cambiar Actuador",
        "links": [
            "db6acc04.44948"
        ],
        "x": 1195,
        "y": 1880,
        "wires": []
    },
    {
        "id": "db6acc04.44948",
        "type": "link in",
        "z": "798fce69.38787",
        "name": "Cambio Actuador",
        "links": [
            "118609b6.dd6116",
            "17b29117.c5b03f"
        ],
        "x": 235,
        "y": 2240,
        "wires": [
            [
                "96e023fd.346bc"
            ]
        ]
    },
    {
        "id": "41e48916.ce6f38",
        "type": "switch",
        "z": "798fce69.38787",
        "name": "",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "iluminacion",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "led_1",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "led_0",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "actualizar",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 4,
        "x": 550,
        "y": 2240,
        "wires": [
            [
                "1785d216.ece08e"
            ],
            [
                "990dd29e.2ed2e",
                "a9af2ee3.b045d"
            ],
            [
                "17ea8e14.192542",
                "d3212b47.9c2068"
            ],
            [
                "df565739.f4e828",
                "71423553.515c4c"
            ]
        ]
    },
    {
        "id": "a1559e78.15d6c",
        "type": "switch",
        "z": "798fce69.38787",
        "name": "",
        "property": "payload.LED",
        "propertyType": "msg",
        "rules": [
            {
                "t": "btwn",
                "v": "0",
                "vt": "num",
                "v2": "100",
                "v2t": "num"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 870,
        "y": 2100,
        "wires": [
            [
                "a5da845a.75da28",
                "19eaa97.ec7d157"
            ],
            [
                "71ff3423.09cb1c",
                "10a164c3.a844cb"
            ]
        ]
    },
    {
        "id": "4d8fef5b.2f80a",
        "type": "link out",
        "z": "798fce69.38787",
        "name": "Salida",
        "links": [
            "270e690d.eeb406"
        ],
        "x": 1435,
        "y": 2020,
        "wires": []
    },
    {
        "id": "a5da845a.75da28",
        "type": "chatbot-message",
        "z": "798fce69.38787",
        "name": "Cambio iluminación",
        "message": [
            {
                "message": "Se ha cambiado la iluminación"
            }
        ],
        "language": "es",
        "x": 1170,
        "y": 2020,
        "wires": [
            [
                "4d8fef5b.2f80a"
            ]
        ]
    },
    {
        "id": "19eaa97.ec7d157",
        "type": "function",
        "z": "798fce69.38787",
        "name": "Enviar a la ESP correspondiente",
        "func": "var chipID = msg.payload.ChipID;\nvar level = msg.payload.LED;\n\nmsg.payload = {\"level\": level};\n\nif (chipID == \"Todas\"){\n    listaG = global.get(\"lista_esp\");\n    for(var i=0; i<listaG.length;i++){\n        var topic = \"infind/GRUPO7/ESP\"+listaG[i]+\"/led/cmd\";\n        msg.topic = topic;\n        node.send(msg);\n\n    }\n}else{\n    var topic = \"infind/GRUPO7/ESP\" + chipID +\"/led/cmd\";\n    msg.topic = topic;\n    return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "x": 1190,
        "y": 2080,
        "wires": [
            [
                "706385a8.df8efc"
            ]
        ]
    },
    {
        "id": "706385a8.df8efc",
        "type": "mqtt out",
        "z": "798fce69.38787",
        "name": "",
        "topic": "",
        "qos": "1",
        "retain": "",
        "broker": "b465132d.b97f8",
        "x": 1430,
        "y": 2080,
        "wires": []
    },
    {
        "id": "10a164c3.a844cb",
        "type": "function",
        "z": "798fce69.38787",
        "name": "Mensaje error Iluminación",
        "func": "var chipID = msg.payload.ChipID;\nvar level = msg.payload.LED;\n\nif (chipID == \"Todas\"){\n    listaG = global.get(\"listaGlobal\");\n    for(var i=0; i<listaG.length;i++){\n    msg.payload = {\"ChipID\" : chipID, \"Tipo\" : \"Error\", \"Mensaje\": \"Se ha intentado cambiar el valor de la intencidad de la luz, pero el valor no esta contenido entre 0 y 100\"};\n    node.send(msg);\n\n    }\n}else{\n    msg.payload = {\"ChipID\" : chipID, \"Tipo\" : \"Error\", \"Mensaje\": \"Se ha intentado cambiar el valor de la intencidad de la luz, pero el valor no esta contenido entre 0 y 100\"};\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "x": 1170,
        "y": 2160,
        "wires": [
            [
                "29d6e876.2eccf8"
            ]
        ]
    },
    {
        "id": "71ff3423.09cb1c",
        "type": "chatbot-message",
        "z": "798fce69.38787",
        "name": "Error Iluminación",
        "message": [
            {
                "message": "ERROR: El valor no esta entre 0 y 100."
            },
            {
                "message": "Para volver a realizar la acción escriba otra vez /cambiar_iluminacion con los parámetros {id_actuador} {level}"
            }
        ],
        "language": "es",
        "x": 1160,
        "y": 2120,
        "wires": [
            [
                "62858408.55431c"
            ]
        ]
    },
    {
        "id": "62858408.55431c",
        "type": "link out",
        "z": "798fce69.38787",
        "name": "Salida",
        "links": [
            "270e690d.eeb406"
        ],
        "x": 1395,
        "y": 2120,
        "wires": []
    },
    {
        "id": "29d6e876.2eccf8",
        "type": "link out",
        "z": "798fce69.38787",
        "name": "Mensaje error telegram",
        "links": [
            "bf02f6eb.bdc518"
        ],
        "x": 1395,
        "y": 2160,
        "wires": []
    },
    {
        "id": "d3f7d531.7541e8",
        "type": "mongodb in",
        "z": "798fce69.38787",
        "mongodb": "bae6b600.bd35e8",
        "name": "",
        "collection": "lista_esp",
        "operation": "find",
        "x": 910,
        "y": 1680,
        "wires": [
            [
                "814143e3.f10b6"
            ]
        ]
    },
    {
        "id": "1a172fc1.52c81",
        "type": "function",
        "z": "798fce69.38787",
        "name": "",
        "func": "msg.payload = {\"Online\": true};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 390,
        "y": 860,
        "wires": [
            [
                "6bdfc945.12ceb8"
            ]
        ]
    },
    {
        "id": "6bdfc945.12ceb8",
        "type": "mongodb in",
        "z": "798fce69.38787",
        "mongodb": "bae6b600.bd35e8",
        "name": "",
        "collection": "lista_esp",
        "operation": "find",
        "x": 650,
        "y": 860,
        "wires": [
            [
                "27259bd5.031164"
            ]
        ]
    },
    {
        "id": "f8450113.2379d",
        "type": "change",
        "z": "798fce69.38787",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "lista_esp",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1090,
        "y": 860,
        "wires": [
            []
        ]
    },
    {
        "id": "c32140a1.b460c",
        "type": "function",
        "z": "798fce69.38787",
        "name": "Lista ESP",
        "func": "var list = [];\nvar dispositivos = global.get(\"lista_esp\");\nmsg.payload.ChipIDS='';\nif(dispositivos){\nfor (var i=0; i<dispositivos.length; i++){\n    msg.payload.ChipIDS += (dispositivos[i]) + '\\n';\n}}\nelse{\n    msg.payload.ChipIDS='No hay actuadores disponibles'\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 820,
        "y": 380,
        "wires": [
            [
                "4ec06b51.a378d4"
            ]
        ]
    },
    {
        "id": "e11a66b.dde3098",
        "type": "comment",
        "z": "798fce69.38787",
        "name": "Cambios en actuadores",
        "info": "Obtener el ultimo valor u estado que tiene los dispositivos.",
        "x": 680,
        "y": 620,
        "wires": []
    },
    {
        "id": "27259bd5.031164",
        "type": "function",
        "z": "798fce69.38787",
        "name": "To List",
        "func": "var dispositivos = msg.payload;\nmsg.payload=[];\nif(dispositivos){\nfor (var i=0; i<dispositivos.length; i++){\n    msg.payload.push(dispositivos[i]['ChipID']);\n}}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 910,
        "y": 860,
        "wires": [
            [
                "f8450113.2379d"
            ]
        ]
    },
    {
        "id": "4e7730cf.37bc9",
        "type": "switch",
        "z": "798fce69.38787",
        "name": "",
        "property": "valido",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 450,
        "y": 1780,
        "wires": [
            [
                "bfccf666.c95218"
            ],
            [
                "a071fccf.c886"
            ]
        ]
    },
    {
        "id": "89b2d3c2.36e5f",
        "type": "delay",
        "z": "798fce69.38787",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 280,
        "y": 500,
        "wires": [
            [
                "3d52f677.46246a",
                "a7cee3ae.a801f"
            ]
        ]
    },
    {
        "id": "a071fccf.c886",
        "type": "chatbot-message",
        "z": "798fce69.38787",
        "name": "Error Actuador",
        "message": [
            {
                "message": "El dispositivo actualmente está inactivo"
            }
        ],
        "language": "es",
        "x": 690,
        "y": 1940,
        "wires": [
            [
                "bb857792.2d68c8"
            ]
        ]
    },
    {
        "id": "d300c5f5.b4fb98",
        "type": "link out",
        "z": "798fce69.38787",
        "name": "Salida",
        "links": [
            "270e690d.eeb406"
        ],
        "x": 1195,
        "y": 1940,
        "wires": []
    },
    {
        "id": "bb857792.2d68c8",
        "type": "change",
        "z": "798fce69.38787",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "context",
                "tot": "global"
            },
            {
                "t": "set",
                "p": "context",
                "pt": "global",
                "to": "",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "ESP_ilu",
                "pt": "global",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 940,
        "y": 1940,
        "wires": [
            [
                "d300c5f5.b4fb98"
            ]
        ]
    },
    {
        "id": "96e023fd.346bc",
        "type": "function",
        "z": "798fce69.38787",
        "name": "",
        "func": "msg.payload.ChipID= msg.payload.arguments[0];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 370,
        "y": 2240,
        "wires": [
            [
                "41e48916.ce6f38"
            ]
        ]
    },
    {
        "id": "410e6ad9.9541d4",
        "type": "link out",
        "z": "798fce69.38787",
        "name": "Salida",
        "links": [
            "270e690d.eeb406"
        ],
        "x": 1275,
        "y": 2220,
        "wires": []
    },
    {
        "id": "990dd29e.2ed2e",
        "type": "chatbot-message",
        "z": "798fce69.38787",
        "name": "Cambio LED",
        "message": [
            {
                "message": "Se ha activado LED"
            }
        ],
        "language": "es",
        "x": 990,
        "y": 2220,
        "wires": [
            [
                "410e6ad9.9541d4"
            ]
        ]
    },
    {
        "id": "a9af2ee3.b045d",
        "type": "function",
        "z": "798fce69.38787",
        "name": "Enviar a la ESP correspondiente",
        "func": "var chipID = msg.payload.ChipID;\nmsg.payload = {\"level\": 1};\nif (chipID == \"Todas\"){\n    listaG = global.get(\"lista_esp\");\n    for(var i=0; i<listaG.length;i++){\n        var topic = \"infind/GRUPO7/ESP\"+listaG[i]+\"/switch/cmd\";\n        msg.topic = topic;\n        node.send(msg);\n\n    }\n}else{\n    var topic = \"infind/GRUPO7/ESP\" + chipID +\"/switch/cmd\";\n    msg.topic = topic;\n    return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "x": 1030,
        "y": 2260,
        "wires": [
            [
                "31b8a68.6fc135a"
            ]
        ]
    },
    {
        "id": "31b8a68.6fc135a",
        "type": "mqtt out",
        "z": "798fce69.38787",
        "name": "",
        "topic": "",
        "qos": "1",
        "retain": "",
        "broker": "b465132d.b97f8",
        "x": 1270,
        "y": 2260,
        "wires": []
    },
    {
        "id": "40a7e3d4.e57c2c",
        "type": "link out",
        "z": "798fce69.38787",
        "name": "Salida",
        "links": [
            "270e690d.eeb406"
        ],
        "x": 1275,
        "y": 2420,
        "wires": []
    },
    {
        "id": "df565739.f4e828",
        "type": "chatbot-message",
        "z": "798fce69.38787",
        "name": "Actualización",
        "message": [
            {
                "message": "Se esta actualizando actuador"
            }
        ],
        "language": "es",
        "x": 990,
        "y": 2420,
        "wires": [
            [
                "40a7e3d4.e57c2c"
            ]
        ]
    },
    {
        "id": "815d743d.d7c0b8",
        "type": "mqtt out",
        "z": "798fce69.38787",
        "name": "",
        "topic": "",
        "qos": "1",
        "retain": "",
        "broker": "b465132d.b97f8",
        "x": 1270,
        "y": 2460,
        "wires": []
    },
    {
        "id": "b7a3aab.d6f2d58",
        "type": "chatbot-command",
        "z": "798fce69.38787",
        "name": "",
        "command": "/desactivar_led",
        "x": 660,
        "y": 740,
        "wires": [
            [
                "790e3b0f.af4614"
            ]
        ]
    },
    {
        "id": "f5e054ff.98de98",
        "type": "link out",
        "z": "798fce69.38787",
        "name": "LED",
        "links": [
            "48b4081e.eea1f8"
        ],
        "x": 1055,
        "y": 740,
        "wires": []
    },
    {
        "id": "790e3b0f.af4614",
        "type": "change",
        "z": "798fce69.38787",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "context",
                "pt": "global",
                "to": "led_0",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 930,
        "y": 740,
        "wires": [
            [
                "f5e054ff.98de98"
            ]
        ]
    },
    {
        "id": "677c3dd7.bcac54",
        "type": "link out",
        "z": "798fce69.38787",
        "name": "Salida",
        "links": [
            "270e690d.eeb406"
        ],
        "x": 1275,
        "y": 2320,
        "wires": []
    },
    {
        "id": "17ea8e14.192542",
        "type": "chatbot-message",
        "z": "798fce69.38787",
        "name": "Cambio LED",
        "message": [
            {
                "message": "Se ha desactivado LED"
            }
        ],
        "language": "es",
        "x": 990,
        "y": 2320,
        "wires": [
            [
                "677c3dd7.bcac54"
            ]
        ]
    },
    {
        "id": "d3212b47.9c2068",
        "type": "function",
        "z": "798fce69.38787",
        "name": "Enviar a la ESP correspondiente",
        "func": "var chipID = msg.payload.ChipID;\nmsg.payload = {\"level\": 0};\nif (chipID == \"Todas\"){\n    listaG = global.get(\"lista_esp\");\n    for(var i=0; i<listaG.length;i++){\n        var topic = \"infind/GRUPO7/ESP\"+listaG[i]+\"/switch/cmd\";\n        msg.topic = topic;\n        node.send(msg);\n\n    }\n}else{\n    var topic = \"infind/GRUPO7/ESP\" + chipID +\"/switch/cmd\";\n    msg.topic = topic;\n    return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "x": 1030,
        "y": 2360,
        "wires": [
            [
                "cfa6c417.0a5f58"
            ]
        ]
    },
    {
        "id": "cfa6c417.0a5f58",
        "type": "mqtt out",
        "z": "798fce69.38787",
        "name": "",
        "topic": "",
        "qos": "1",
        "retain": "",
        "broker": "b465132d.b97f8",
        "x": 1270,
        "y": 2360,
        "wires": []
    },
    {
        "id": "1785d216.ece08e",
        "type": "function",
        "z": "798fce69.38787",
        "name": "",
        "func": "msg.payload.LED = msg.payload.arguments[1];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 730,
        "y": 2100,
        "wires": [
            [
                "a1559e78.15d6c"
            ]
        ]
    },
    {
        "id": "71423553.515c4c",
        "type": "function",
        "z": "798fce69.38787",
        "name": "Enviar a la ESP correspondiente",
        "func": "var chipID = msg.payload.ChipID;\nif (chipID == \"Todas\"){\n    listaG = global.get(\"lista_esp\");\n    for(var i=0; i<listaG.length;i++){\n        var topic = \"infind/GRUPO7/ESP\"+listaG[i]+\"/FOTA\";\n        msg.topic = topic;\n        node.send(msg);\n\n    }\n}else{\n    var topic = \"infind/GRUPO7/ESP\" + chipID +\"/FOTA\";\n    msg.topic = topic;\n    return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "x": 1030,
        "y": 2460,
        "wires": [
            [
                "815d743d.d7c0b8"
            ]
        ]
    },
    {
        "id": "792ca040.5dbb6",
        "type": "function",
        "z": "798fce69.38787",
        "name": "Comprobar conexion",
        "func": "var esps = global.get(\"lista_esp\");\nmsg.valido= esps.includes(msg.chipID);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 940.6667175292969,
        "y": 1418.3334159851074,
        "wires": [
            [
                "42035143.51a01"
            ]
        ]
    },
    {
        "id": "8a12af05.6e69d",
        "type": "function",
        "z": "798fce69.38787",
        "name": "Comprobar conexion",
        "func": "var chipID = msg.payload.arguments[0];\nvar esps = global.get(\"lista_esp\");\nmsg.valido= esps.includes(chipID) || chipID==\"Todas\";\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 263.6666564941406,
        "y": 1818,
        "wires": [
            [
                "4e7730cf.37bc9"
            ]
        ]
    },
    {
        "id": "9a4528aa.275318",
        "type": "chatbot-telegram-node",
        "z": "",
        "botname": "momf_grupo7_iot_bot",
        "usernames": "",
        "providerToken": "",
        "polling": "1000",
        "store": "",
        "log": "",
        "debug": false,
        "webHook": "",
        "connectMode": "polling"
    },
    {
        "id": "bae6b600.bd35e8",
        "type": "mongodb",
        "z": "",
        "hostname": "iot.ac.uma.es",
        "port": "27017",
        "db": "IOT7",
        "name": "Conexion a UMA MongoDB Grupo7"
    },
    {
        "id": "b465132d.b97f8",
        "type": "mqtt-broker",
        "z": "",
        "name": "",
        "broker": "iot.ac.uma.es",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    }
]